.not-verified-users
{
    list-style: none;
}

.not-verified-users li
{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #EFEFEF;
}

.not-verified-users li.first
{
    border-top: none;
}

.not-verified-users li .user-name
{
    margin-top: 15px;
    margin-left: 7px;
    display: inline-block;

    font-size: 13px;
    font-family: "OpenSans Semibold", sans-serif;
    color: #333333;
}

.not-verified-users li .approve-buttons-container
{
    float: right;
}

.show-user-profile-link
{
    float: left;
    margin-right: 20px;
    text-decoration: none !important;
}

.show-user-profile-link img,
.show-user-profile-link span
{
    display: inline-block;
}

.approve-user-link
{
    margin-right: 4px;
}

.profiles-container
{
    padding-top: 10px;
}

.approve-all-user-link
{
    float: right;
}