.wrap > .container
{
    background: url('/images/teacher-page/sidebar-menu-row-background.png') repeat-y 0 -11px #ffffff;
}

.profile-container .form-control
{
    padding: 0 6px;
    height: 27px;
}

.profile-container label
{
    display: block;
    float: left;
    margin-top: 5px;
}

.profile-container h3,
.profile-container label,
.profile-container .setting-label
{
    font-family: "OpenSans Semibold",sans-serif;
    font-weight: normal;
}

.profile-container h3
{
    margin: 0;
    padding-bottom: 20px;
    color: #000;
    font-size: 16px;
}

.profile-container .tab-header h4
{
    line-height: 17px;
}

.profile-container .form-group
{
    margin-bottom: 14px;
}

.profile-sidebar-menu
{
    list-style: none;
    margin-right: 1px;
    margin-top: 11px;
}

.profile-sidebar-menu li
{
    display: block;
    height: 29px;
    width: 100%;
}

.profile-sidebar-menu li a
{
    display: block;
    padding: 5px 15px 3px 33px;
    text-decoration: none;
    font-family: "OpenSans Semibold", sans-serif;
    font-size: 13px;
    color: #333333;

    background: url("/images/user-profile/profile-sidebar-marker.png") no-repeat 20px 11px;
}

.profile-sidebar-menu li.current
{
    border-bottom: 1px solid #C3D6E1;
    border-top: 1px solid #C3D6E1;
    background: #EEF9FE;
}

.profile-sidebar-menu li.current a
{
    margin-top: -1px;
    color: #004e78;
}

.tab-pane
{
    display: none;

    padding: 0 26px;
}

.tab-pane.active
{
    display: block;
}

.profile-sidebar-menu-container
{
    position: relative;
    float: left;
    width: 237px;
}

.profile-container
{
    float: left;
    width: 761px;
    padding-bottom: 30px;
}

.profile-column-container,
.photo-column-container
{
    margin-top: 17px;
}

.user-profile-page-list
{
    list-style: none;
}

.user-profile-page-list li
{
    margin: 0 -26px;
    padding: 17px 26px 16px;
    border-top: 1px solid #efefef;
}

.user-profile-page-list li:hover
{
    background: #EEF9FE;
    cursor: pointer
}

.user-profile-page-list li.first,
.video-comments li.first,
.video-questions li.first
{
    border-top: none;
}

.video-with-questions-list-item,
.video-with-comments-list-item,
.right-count-column
{
    display: table-cell;
}

.video-with-questions-list-item,
.video-with-comments-list-item
{
    width: 660px;
}

.right-count-column
{
    vertical-align: middle;
    width: 48px;
}

.right-count-column .list-count-container
{
    float: right;
}

.video-breadcrumbs
{
    font-family: "OpenSans", "Open Sans", sans-serif;
    font-size: 12px;
    color: #666666;
    margin-top: 5px;
    margin-bottom: 0;
}

.video-comments,
.video-questions
{
    list-style: none;
}

.video-comments li,
.video-questions li
{
    border-top: 1px solid #efefef;
    padding: 23px 0 17px;
}

.video-comments .media-body,
.video-questions .media-body
{
    margin-left: 61px;
}

.video-questions .media-body
{
    width: 466px;
}

.video-comments .comment-author,
.video-questions .comment-author
{
    font-family: "OpenSans Semibold", sans-serif;
    font-size: 13px;
    color: #333333;
    display: block;
}

.video-questions .media-body a,
.video-comments .media-body a
{
    text-decoration: none;
}

.video-comments .comment-body,
.video-questions .comment-body
{
    font-family: "OpenSans", "Open Sans", sans-serif;
    font-size: 12px;
    color: #555555
}

.video-comments .comment-date,
.video-questions .comment-date
{
    font-family: "OpenSans", "Open Sans", sans-serif;
    font-size: 11px;
    color: #999999;
    margin-top: 8px;
}

.select-content-tab
{
    margin-top: 11px;
}

.user-profile-tab-menu
{
    padding-left: 30px;
}

.user-profile-page-list .open-video-comment-link a,
.user-profile-page-list .open-video-question-link a
{
    font-size: 14px;
    font-family: "OpenSans Semibold", sans-serif;
    color: #222;
}

.user-profile-page-list .open-video-comment-link,
.user-profile-page-list .open-video-question-link
{
    cursor: pointer;
}

.photo-container
{
    position: relative;
    bottom: 1px;
    width: 212px;

    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.photo-container img
{
    margin: 5px;
    border-radius: 4px;
}

.photo-buttons-form
{
    margin-top: 3px;
    margin-left: 6px;
}

.photo-column-container,
.profile-column-container,
.settings-column-container
{
    float: left;
}

.profile-column-container
{
    padding-left: 29px;
    padding-right: 15px;
}

.profile-info-row
{
    height: 40px;
}

.profile-info-row span
{
    color: #2a2a2a;
    font-weight: normal;
    font-size: 12px;
}

.profile-label
{
    font-family: "OpenSans Semibold", sans-serif;
    display: inline-block;
    width: 110px;
}

.profile-column-container h3
{
    margin: 0;
    padding-bottom: 20px;
    color: #000;
    font-size: 16px;
    font-family: "OpenSans Semibold", sans-serif;
    font-weight: normal;
}

.ban-with-reason-dropdown-container
{
    display: inline-block;
    position: relative;
}

.ban-reasons-list
{
    list-style: none;
    position: absolute;
    border: 1px solid #cccccc;
    border-top: none;
    width: 100%;
}

.ban-reasons-list a
{
    display: inline-block;
    height: 30px;
    width: 100%;
    padding: 6px 10px;

    color: #333333;
    font-size: 11px;
    line-height: 16px;
}

.ban-reasons-list li a:hover
{
    background: #f4f4f4;
}

.moderator-profile-buttons-container
{
    border-top: 1px solid #cccccc;
    padding: 15px 26px;
    margin: 0 -26px;
}

.moderator-profile-buttons
{
    float: right;
}

.list-count-container
{
    font-family: "OpenSans Semibold", sans-serif;
    font-size: 13px;
    color: #036995;

    float: right;
}

.list-count-container.on-page-count-container
{
    font-size: 16px;
}

.tab-header
{
    margin: 0 -26px;
    padding: 8px 26px 1px;

    border-bottom: 1px solid #cccccc;
}

.tab-header .list-count-container
{
    color: #E8710D;
}

.tab-header h4
{
    margin-top: 15px;
}

.tab-header h4,
.tab-header h4 a
{
    font-size: 16px;
    font-family: "OpenSans Semibold", sans-serif;
    color: #222;
}

.tab-header .video-breadcrumbs
{
    margin: 8px 0 8px;
}

.tab-footer-block
{
    border-top: 1px solid #ccc;
    padding: 20px 26px 0;
    margin: 0 -26px;
}

.left-column
{
    width: 420px;
}

.right-column
{
    margin-left: 420px;
    width: 200px;
    margin-top: 12px;
}

.approve-comment-link
{
    margin-right: 3px;
}

/* selectbox additional styles BEGIN */
.selectbox .select
{
    padding: 0 7px;
    height: 27px;
    line-height: 25px;

    color: #2a2a2a;
    font-size: 12px;
    font-family: "OpenSans", "Open Sans", serif;
}

.selectbox .trigger .arrow
{
    top: 11px;
    right: 6px;
    opacity: 1;
}

.grade-form .selectbox,
.grade-form .selectbox .select,
.grade-form .selectbox .dropdown,
.date-form .selectbox .dropdown

{
    width: 100px !important;
}

.date-form .selectbox
{
    margin-left: 6px;
}

.region-form .select .text
{
    width: 245px;
}

.region-form .selectbox .dropdown
{
    max-height: 350px;
    width: 261px !important;
}

.selectbox .select
{
    width: auto !important;
}

.selectbox .select .text
{
    padding-left: 0;
    padding-right: 14px;
}

.date-select-block .selectbox .select .text
{
    padding-right: 38px;
}

.date-select-block .selectbox:first-child
{
    margin-left: 0;
}

.date-select-block .selectbox:first-child .select .text
{
    padding-right: 36px;
}
/* selectbox additional styles END */

.alert
{
    margin: 0 30px 10px 16px;
}

.show-user-profile-container .alert
{
    margin: 26px;
}

.add-link
{
    background: url("/images/controls/add-link-icon.png") no-repeat 0 3px;
}

.delete-link
{
    background: #fff url('/images/controls/delete-link-icon.png') no-repeat 0 3px;
}

.user-profile-container h3,
.user-profile-container label,
.user-profile-container .setting-label
{
    font-family: "OpenSans Semibold",sans-serif;
    font-weight: normal;
}

.user-profile-container .form-control
{
    padding: 0 6px;
    height: 27px;
}

.user-profile-container .form-group
{
    margin-bottom: 14px;
}

.user-profile-container h3
{
    margin: 0;
    padding-bottom: 26px;
    color: #000;
    font-size: 16px;
}

.user-profile-container label,
.setting-label,
.current-setting-value
{
    color: #2a2a2a;
    font-size: 12px;
}

.edit-user-profile-form input[type="text"]
{
    width: 261px;
}

/* photo styles BEGIN */
.photo-button
{
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    overflow: hidden;
    width: 148px;
    height: 19px;
    top: 0;
    left: 0;
}

.photo-button input
{
    filter: alpha(opacity=0);
    opacity: 0;

    margin-top: -50px;
    margin-left: -410px;
    font-size: 70px;
    height: 100px;
    width: 611px;
    position: relative;

    cursor: pointer;
}

.upload-photo-button-container
{
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 19px;
}

.edit-photo-button
{
    background: #fff url('/images/user-profile/edit-photo-link-icon.png') no-repeat 0 3px;
}
/* photo styles END */

.edit-user-profile-form .input-group input,
.sex-field label,
.current-setting-value
{
    font-family: "OpenSans", "Open Sans", serif;
}

.sex-field .iradio,
.sex-field input
{
    display: block;
    float: left;
    margin-top: 7px;
}

.sex-field
{
    padding-left: 0;
    border: none;
}

.sex-field label
{
    padding-left: 3px;
    width: 78px;
}

.save-user-profile-button-container
{
    padding-top: 7px;
    padding-left: 108px;
}

.save-user-profile-button
{
    float: right;
    padding: 5px 44px;
}

.save-user-profile-button .active-button-label
{
    padding-left: 0;
}

.form-control,
.date-form select
{
    border-color: #c8c8c8;
}

.date-form .form-control.select
{
    padding: 4px 8px 6px;
    height: 32px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.form-control.date-select-block
{
    display: inline-block;
    padding: 0;
    width: 220px;
    border: none;
}