.profile-sidebar-menu-container .user-questions-count
{
    font-size: 15px;
    font-family: "OpenSans Semibold", sans-serif;
}

.teacher-specialization-form .input-group
{
    margin-left: 107px;
    margin-bottom: 14px;
}

.teacher-specialization-form .selectbox .text,
.experience-form .selectbox .text
{
    width: 245px;
}

.teacher-specialization-form .selectbox .dropdown,
.experience-form .selectbox .dropdown
{
    width: 261px;
}

.teacher-specialization-form .remove-teacher-subject-link
{
    position: absolute;
    top: 9px;
    left: 270px;
    background: url("/images/controls/delete-link-icon.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
}

.teacher-subjects
{
    margin-bottom: 5px;
    list-style: none;
}

.achievement-field
{
    width: 261px;
    height: 87px;
    resize: none;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
}

.teacher-specialization
{
    position: relative;
    margin-bottom: 14px;
}

.teacher-specialization:last-child
{
    margin-bottom: 0;
}

.teacher-specialization label
{
    margin: 0;
}

.edit-profile-form label
{
    width: 136px;
}

.profile-column-container
{
    width: 441px;
}

.photo-column-container
{
    padding-left: 75px;
}