.wrap > .container
{
    background: url('/images/teacher-page/sidebar-menu-row-background.png') repeat-y 0 -11px #ffffff;
}

.teacher-profile-container .user-profile-column-container,
.teacher-profile-container .photo-column-container
{
    margin-top: 14px;
}

.teacher-profile-container .form-control
{
    padding: 0 6px;
    height: 27px;
}

.teacher-profile-container label
{
    display: block;
    float: left;
    margin-top: 5px;
}

.teacher-profile-container h3,
.teacher-profile-container label
{
    font-family: "OpenSans Semibold",sans-serif;
    font-weight: normal;
}

.teacher-profile-container h3
{
    margin: 0;
    padding-bottom: 20px;
    color: #000;
    font-size: 16px;
}

.teacher-profile-container .form-group
{
    margin-bottom: 14px;
}

.profile-sidebar-menu-container .user-questions-count
{
    font-size: 15px;
    font-family: "OpenSans Semibold", sans-serif;
}

.question-answer-form-container
{
    margin-top: 1px;
    width: 496px;
}

.form-group.add-video-comment-container label
{
    float: none;
    color: #333;
    font-size: 15px;
    font-family: "OpenSans Semibold",sans-serif;
}

.form-group.add-video-comment-container textarea
{
    padding: 4px 9px;
    height: auto;
    border-radius: 0;
    resize: none;

    color: #2a2a2a;
    font-size: 12px;
}

.teacher-profile-bottom-horizontal-placeholder
{
    position: absolute;
    bottom: 54px;
    width: 296px;
    height: 65px;
    background-color: #fff;
}

.teacher-profile-bottom-horizontal-placeholder > .line
{
    width: 100%;
    height: 32px;
    background: url('/images/user-profile/user-profile-horizontal-placeholder-line.png') repeat-y 5px 0;
}

.teacher-profile-top-horizontal-line
{
    position: absolute;
    top: 132px;
    width: 296px;
    height: 22px;
    background: #fff;
}

.answer-form-block
{
    padding-left: 62px;
}

.show-answer-form-link
{
    float: right;
    margin-top: -33px;
}