.profile-sidebar-menu-container .user-questions-count
{
    font-size: 15px;
    font-family: "OpenSans Semibold", sans-serif;
}

.question-answer-form-container
{
    margin-top: 1px;
    width: 496px;
}

.form-group.add-video-comment-container label
{
    float: none;
    color: #333;
    font-size: 15px;
    font-family: "OpenSans Semibold",sans-serif;
}

.form-group.add-video-comment-container textarea
{
    padding: 4px 9px;
    height: auto;
    border-radius: 0;
    resize: none;

    color: #2a2a2a;
    font-size: 12px;
}

.answer-form-block
{
    padding-left: 62px;
}

.show-answer-form-link
{
    float: right;
    margin-top: -33px;
}

.teacher-specialization-form .input-group
{
    margin-left: 107px;
    margin-bottom: 14px;
}

.teacher-specialization-form .selectbox .text,
.experience-form .selectbox .text
{
    width: 245px;
}

.teacher-specialization-form .selectbox .dropdown,
.experience-form .selectbox .dropdown
{
    width: 261px;
}

.teacher-specialization-form .remove-teacher-subject-link
{
    margin-top: 4px;
    position: absolute;
    left: 270px;
    background: url("/images/controls/delete-link-icon.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
}

.teacher-subjects
{
    margin-bottom: 5px;
    list-style: none;
}

.achievement-field
{
    width: 261px;
    height: 87px;
    resize: none;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
}

.teacher-specialization
{
    margin-bottom: 14px;
}

.teacher-specialization:last-child
{
    margin-bottom: 0;
}

.teacher-specialization label
{
    margin: 0;
}

.edit-user-profile-form label
{
    width: 136px;
}

.user-profile-column-container
{
    width: 441px;
}