.user-search-result-container
{
    float: left;
    margin-top: -5px;
    padding-top: 5px;
    width: 477px;
    background: url("/images/user-profile/user-search-results-background.png") repeat-y;
}

.users-search-container .tab-header
{
    margin-right: 0;
}

.users-search-container ul
{
    list-style: none;
    margin-right: 26px;
}

.users-search-container li
{
    padding: 17px 0;
    border-top: 1px solid #efefef;
}

.users-search-container li:first-child
{
    border-top: none;
}

.send-found-user-message-button
{
    background: url("/images/user-profile/send-found-user-message-button-icon.png") no-repeat 0 3px;
}

.users-search-container .found-user-name
{
    margin-left: 0;
    margin-top: -4px;
}

.users-search-container .found-user-name a
{
    color: #333;
    font-size: 13px;
    font-family: "OpenSans Semibold",sans-serif;
}

.found-user-additional-info
{
    margin-top: 2px;
    color: #777;
    font-size: 11px;
}

.users-search-container .user-text-data
{
    margin-left: 63px;
    width: 310px;
    font-size: 12px;
    color: #444;
}

.user-search-filters-container
{
    margin-left: 477px;
    width: 259px;
    padding: 23px 30px;
}

.user-search-filters-container .search-icon
{
    display: block;
    position: absolute;
    z-index: 3;
    top: 8px;
    left: 10px;
    width: 14px;
    height: 14px;

    background: url("/images/header/search-icon.png") no-repeat;
}

.user-search-filters-container .form-control
{
    padding-left: 27px;
}

.user-search-filters-container .user-search-filters-label
{
    float: none;
    margin-top: 11px;
    margin-bottom: 3px;
    font-size: 13px;
}

.user-search-filters-container .role-filter label
{
    margin-top: 2px;
    line-height: 16px;
    font-family: "OpenSans","Open Sans",serif;
}

.user-search-filters-container .role-filter input
{
    float: left;
    margin-right: 6px;
    margin-top: 3px;
}

.user-search-filters-container .start-search-button
{
    margin-top: 15px;
    width: 100%;
}

.user-search-filters-container .start-search-button .active-button-label
{
    padding-left: 0;
}

.user-search-filters-container .input-group
{
    width: 100%;
}

.user-search-filters-container .selectbox .select
{
    height: 31px;
    line-height: 29px;
    color: #717070;
    font-size: 13px;
}

.user-search-filters-container .selectbox .select .text
{
    font-family: "OpenSans","Open Sans",serif;
    width: 182px;
}

.user-search-filters-container .age-filter .selectbox .select .text
{
    width: 73px;
}

.user-search-filters-container .age-filter .selectbox .dropdown
{
    width: 97px;
}

.user-search-filters-container .selectbox .trigger .arrow
{
    top: 13px;
}

.found-user-pic
{
    float: left;
}