

.popup-content
{
    padding: 30px;
}

.popup-content ol
{
    padding: 0 20px;
}

.additional-form-container.user-profile-popup h3
{
    margin-bottom: 0;
    padding: 0;
}

.upload-label.active-button
{
    width: auto;
}

.upload-label.active-button .active-button-label
{
    padding-left: 0;
    font-weight: normal;
}

.user-profile-top-horizontal-line
{
    height: 6px;
    background: url('/images/user-profile/user-profile-horizontal-placeholder-line.png') repeat-y;
}

.edit-user-profile-form
{
    width: 100%;
}

.edit-user-profile-form input[type="text"]
{
    width: 261px;
}

.user-profile-container label
{
    display: block;
    float: left;
    margin-top: 5px;
}

.edit-user-profile-form label
{
    width: 106px;
}

.grade-select
{
    padding: 0;
    width: 100px;
    border-radius: 4px !important;
}

.user-profile-container
{
    display: inline-block;
    padding-bottom: 30px;
}

.user-profile-bottom-horizontal-placeholder
{
    background-color: #FFFFFF;
    bottom: 54px;
    height: 30px;
    position: absolute;
    width: 100%;
}

.user-profile-bottom-horizontal-placeholder > .line
{
    width: 100%;
    height: 10px;
    background: url('/images/user-profile/user-profile-horizontal-placeholder-line.png') repeat-y;
}

.profile-column-container
{
    width: 411px;
}

.photo-column-container
{
    padding-left: 68px;
}

.delete-relation-link
{
    position: absolute;
    left: 270px;
}

.relation-name
{
    font-size: 13px;
}