{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block content %}
  <div class="page-not-found-container">
    <h1>404</h1>
    <h2>Страница не найдена</h2>
    <h3>
      Страница, которую Вы ищете, не существует или она
      была перемещена.
    </h3>
    <h4>
      Перейти на <a href="{{ path('znaika_frontend_homepage') }}" title="Главная">Главную страницу сайта</a>
    </h4>
  </div>
{% endblock %}