/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/.idea/
/composer.lock

/web/css/*
/web/js/*
/web/uploads/*
/web/css
/web/js
/web/images/*.db
/web/images/*.db
/app/config/config_dev.yml
/app/config/config_prod.yml
