{% extends 'ZnaikaProfileBundle::Default/user_page_layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets filter="?yui_css"
    '@ZnaikaProfileBundle/Resources/public/css/user_profile.css'
  %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts filter='?yui_js'
    '../app/Resources/public/js/classes/form/profile/EditProfileForm.class.js'
    '../app/Resources/public/js/classes/form/profile/UserPhotoForm.class.js'
    '../app/Resources/public/js/classes/page/profile/ProfilePage.class.js'
    '../app/Resources/public/js/classes/page/profile/UserProfilePage.class.js'
  %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block pageContent %}
  <div class="profile-column-container">
    {% if isSocialRegisterComplete %}
      {% include "ZnaikaProfileBundle:Default:change_password_on_register_complete.html.twig" with {'form': changePasswordOnRegisterCompleteForm} %}
    {% endif %}

    <h3>Редактирование профиля</h3>
    {% include "ZnaikaProfileBundle:Default:parent_profile_form.html.twig" with {'form': profileForm} %}
  </div>
  <div class="photo-column-container learner-photo-form">
    {% include "ZnaikaProfileBundle:Default:profile_photo_form.html.twig" with {'form': userPhotoForm} %}
  </div>
{% endblock %}
