<div class="profiles-container">
  <div class="profile-preloader {% if user %}hidden{% endif %}">Профиль загружается...</div>
  <div class="profile-container">
    {% if user %}
      {% include "ZnaikaProfileBundle:Default:getUserProfileAjax.html.twig" with {"user": user} %}
    {% endif %}
  </div>
</div>