{% extends 'ZnaikaProfileBundle::Default/user_page_layout.html.twig' %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts filter='?yui_js'
    '../app/Resources/public/js/classes/page/profile/ViewTeacherQuestionsPage.class.js'
  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block pageContent %}
  <div>
    <div class="tabs-container">
      <ul class="nav nav-tabs select-content-tab user-profile-tab-menu">
        <li class="video-with-questions active">
          <div class="active-top-border"></div>
          <a id="videoTab" href="#video_tab" data-toggle="tab">
            <span class="tab-label">Уроки с вопросами</span>
          </a>
        </li>
        {% if countQuestions %}
          <li class="questions-tab hidden">
            <div class="active-top-border"></div>
            <a id="questionTab" href="#question_tab" data-toggle="tab">
              <span class="tab-label">Просмотр вопросов</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="tab-pane active video-tab" id="video_tab">
    <div class="empty-questions-message-container {% if videos|length  %}hidden{% endif %}">
      <div class="tab-header">
        <h4>Вопросы к урокам отсутствуют</h4>
      </div>
    </div>
    <div class="not-empty-questions-container {% if not videos|length  %}hidden{% endif %}">
      <div class="tab-header">
        <h4>Видеоуроки с новыми вопросами<span class="list-count-container">+{{ videos|length }}</span></h4>
      </div>
      {% include "ZnaikaProfileBundle:Default:video_with_questions_list.html.twig" with {'videos': videos} %}
    </div>
  </div>
  <div class="tab-pane questions-tab-content" id="question_tab">
    {% include "ZnaikaProfileBundle:Default:teacher_questions_tab.html.twig" with {'videos': videos} %}
  </div>
{% endblock %}
