<label>Родители</label>
<div class="input-group">
  {% for relation in relations %}
    <div class="user-relations-block">
        <input type="text" class="form-group form-control relation-name" {{ relation.parent }} value="{{ relation.parent }}" disabled="disabled" />
        <a href="{{ path('delete_parent', {'parentId': relation.parent.userId}) }}" title="" class="active-link delete-link delete-relation-link">Удалить</a>
    </div>
  {% endfor %}
</div>
{% if canAdd %}
  <a href="{{ path('search_parent') }}" title="" class="active-link add-link add-relation-link">Добавить</a>
{% endif %}