/* moderator styles BEGIN */
.moderator-buttons-block span
{
    display: block;
}

.moderator-buttons-block
{
    padding-top: 4px;
    padding-left: 5px;
    padding-bottom: 15px;
    margin-top: -6px;
    margin-right: 1px;
    height: 45px;
    border-bottom: 1px solid #ffffff;

    background: #fff;
}

.moderator-buttons-block a
{
    margin-left: 13px;
}

.moderator-buttons-block span,
.add-chapter-button,
.edit-chapter-button,
.save-changes-button,
.chapter-down,
.chapter-up
{
    float: left;
}

.add-chapter-button,
.edit-chapter-button,
.save-changes-button
{
    width: auto;
}

.add-chapter-button .semi-active-button-label
{
    background: url('/images/chapters-list/add-chapter-button-icon.png') no-repeat 0 3px;
}

.edit-chapter-button .semi-active-button-label
{
    background: url('/images/video/edit-button-icon.png') no-repeat 0 1px;
}

.save-changes-button .semi-active-button-label
{
    background: url('/images/chapters-list/save-changes-button-icon.png') no-repeat 0 2px;
}

.disabled.add-chapter-button .semi-active-button-label
{
    background: url('/images/chapters-list/add-chapter-button-icon-disabled.png') no-repeat 0 3px;
}

.disabled.edit-chapter-button .semi-active-button-label
{
    background: url('/images/video/edit-button-icon-disabled.png') no-repeat 0 1px;
}

.disabled.save-changes-button .semi-active-button-label
{
    background: url('/images/chapters-list/save-changes-button-icon-disabled.png') no-repeat 0 2px;
}

.semi-active-button.chapter-down,
.semi-active-button.chapter-up
{
    padding: 0;
    width: 30px;
}

.chapter-up
{
    margin-left: 5px !important;
}

.chapter-down-icon,
.chapter-up-icon
{
    width: 12px;
    height: 13px;
}

.semi-active-button .chapter-down-icon
{
    margin-top: 6px;
    margin-left: 8px;

    background: url('/images/chapters-list/chapter-down-icon.png') no-repeat;
}

.semi-active-button .chapter-up-icon
{
    margin-top: 5px;
    margin-left: 8px;

    background: url('/images/chapters-list/chapter-up-icon.png') no-repeat;
}

.disabled.semi-active-button:hover
{
    border-color: #d6d6d6;
    box-shadow: none;
}

.disabled .semi-active-button-label
{
    color: #cbd6dc;
    box-shadow: none;
}

.disabled.semi-active-button .chapter-down-icon
{
    background: url('/images/chapters-list/chapter-down-icon-disabled.png') no-repeat;
}

.disabled.semi-active-button .chapter-up-icon
{
    background: url('/images/chapters-list/chapter-up-icon-disabled.png') no-repeat;
}
/* moderator styles END */