.chapter-description-container.selected
{
    background: #dbdbdb;
}

.show-catalog-page-container
{
    display: inline-block;
}

.chapter-catalog-container
{
    border-right: 1px solid #BABABA;
    height: 100%;
}