.index-content h2
{
    font-family: "OpenSans Semibold", sans-serif;
    font-size: 16px;
    line-height: 16px;
}

.index-content h4
{
    font-family: "OpenSans", "Open Sans", serif;
    font-size: 13px;
    font-weight: bold;
}

.index-content h5
{
    font-family: "OpenSans Semibold", sans-serif;
    font-size: 13px;
    color: #222222;
}

.top-video-preview img
{
    display: block;
    width: 100%;
    height: auto;
}

.learn-more
{
    display: block;
    text-align: center;
    font-family: "OpenSans", "Open Sans", serif;
    font-size: 14px;
}

.learn-more a
{
    text-decoration: underline;
}

.index-content
{
    margin-top: 2px;
}

.index-top-videos-block
{
    margin-top: 25px;
}

.index-page-videos-list
{
    padding-left: 3px;
}

.index-page-videos-list .list-item
{
    float: left;
    margin-left: 15px;
    width: 229px;
}

.index-page-videos-list .list-item.first
{
    margin-left: 0;
}

.index-page-videos-list h2
{
    margin-left: 16px;
    margin-bottom: 19px;
    margin-top: 0;

    padding-left: 27px;
    background: url('/images/index/play-sign.png') no-repeat;
}

.index-page-videos-list .list-item h5
{
    margin-top: 5px;
    margin-bottom: 6px;
    font-size: 13px;
    line-height: 15px;
    width: 100%;
}

.index-page-videos-list .list-item a:hover h5
{
    text-decoration: underline;
}

.index-page-videos-list .list-item .video-preview
{
    position: relative;
    margin-bottom: 3px;
}

.index-page-videos-list .list-item .video-preview .video-duration
{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    font: normal 12px/16px"OpenSans Semibold";
    background: url('/images/video/video-duration-background.png') repeat;
    padding: 1px 5px 1px 6px;
}

.index-page-videos-list .list-item .video-preview a,
.index-page-videos-list .list-item .video-preview img
{
    display: block;
    width: 229px;
    height: auto;
    min-height: 128px;
}

.index-page-videos-list .list-item .video-description
{
    height: 72px;
    margin-top: 8px;
}

.index-page-videos-list .list-item .video-description a:hover
{
    text-decoration: none;
}

.index-page-videos-list .list-item .video-info-line span
{
    font-family: "OpenSans", "Open Sans", serif;
    font-size: 11px;
    color: #666666;
    margin-right: 16px;
    float: left;
}

.video-preview a .video-preview-over
{
    display: none;
    left: 106px;
    position: absolute;
    top: 44px;
    width: 35px;
    height: 41px;
    background: url('/images/index/video-preview-over.png') no-repeat;
}

.index-page-videos-list .list-item .video-preview a
{
    position: relative;
}

.video-preview a:hover .video-preview-over
{
    display: block;
}
