.index-content h2
{
    font-family: "Candara";
    font-size: 18px;
    font-weight: bold;
}

.index-content h4
{
    font-family: "OpenSans";
    font-size: 13px;
    font-weight: bold;
}

.index-content h5
{
    font-family: "OpenSans";
    font-size: 13px;
}

/* Top videos block BEGIN */
.index-page-top-videos-block
{
    height: 351px;
}

.index-page-top-videos-block a
{
    text-decoration: underline;
    color: red;
}

.index-page-top-video
{
    float: left;
    margin-right: 27px;
    width: 629px;
}

.index-page-top-video div
{
    margin-bottom: 18px;
    border: 1px solid #b5b5b5;
}

.learn-more
{
    display: block;
    text-align: center;
    font-family: "OpenSans";
    font-size: 14px;
}

.index-page-videos-list
{
    float: left;
    width: 150px;
}

.index-page-videos-list h2
{
    padding-left: 27px;
}

.index-page-videos-list .list-item
{
    width: 100%;
}

.index-page-videos-list .list-item .video-preview
{
    display: block;
    width: 100%;
    height: 75px;
}

.index-page-videos-list .get-more-videos
{
    display: block;
    text-align: right;
}
/* Top videos block END */

/* Social buttons block BEGIN */
.social-buttons-block
{
    padding-top: 33px;
    height: 100px;
    background: url('/images/index/social-buttons/background-vertical-bar.jpg') repeat-x;
}

.social-buttons-container
{
    margin-left: 367px;
    width: 278px;
    height: 100%;
    background: #fff;
}

.social-buttons-text
{
    float: left;
    padding: 0 15px;
}

.social-button
{
    margin: 0 1px;
    float: left;
    width: 32px;
    height: 32px;
}
/* Social buttons block END */

/* Ratings block BEGIN */
.ratings h2
{
    padding-left: 50px;
    height: 25px;
}

.rating-newest-operations
{
    float: left;
}

.rating-newest-operations h2
{
    background: url('/images/index/rating-lists/newest-operations-header.jpg') no-repeat;
}

.rating-newest-badges
{
    float: left;
}

.rating-newest-badges h2
{
    background: url('/images/index/rating-lists/newest-badges-header.jpg') no-repeat;
}

.rating-top-by-points
{
    float: left;
}

.rating-top-by-points h2
{
    background: url('/images/index/rating-lists/top-by-points-header.jpg') no-repeat;
}

.operations-rating-list-item
{
}

.operations-rating-list-item .user-photo
{
    float: left;
    padding: 2px;
    margin-right: 5px;
    width: 38px;
    height: 38px;
    border: 1px solid #bebebe;
}

.operations-rating-list-item .acquired-points
{
    float: left;
}

.operations-rating-list-item .username
{
    display: block;
    float: right;
    margin-top: 7px;
    text-align: right;
}

.delimiter
{
    height: 4px;
    margin-top: 3px;
    background: url('/images/index/rating-lists/horizontal-dotted-bar.jpg') repeat-x;
}