.active-button,
.semi-active-button,
.non-active-button
{
    display: inline-block;
    height: 26px;
    width: auto;

    border-radius: 3px;
    font-size: 11px;
    line-height: 14px;
    font-family: "OpenSans Semibold", "Open Sans", serif;
    text-align: center;
    cursor: pointer;

    padding: 5px 11px;
}

.active-button-label,
.semi-active-button-label,
.non-active-button-label
{
    padding-left: 13px;
}

.active-button
{
    line-height: 15px;
}

.send-comment-button .active-button-label
{
    background: url('/images/controls/send-answer-button-icon.png') no-repeat 0 3px;
}