.video-comments-container .video-comments
{
    list-style: none;
}

.approve-all-comments-block
{
    text-align: right;
    border-top: 1px solid #EFEFEF;
    padding-top: 20px;
}

.video-comments
{
    margin-bottom: 0;
}

.approve-comment-buttons-container
{
    margin-top: -33px;
    float: right;
}

.comment-content
{
    margin-top: -9px;
    width: 440px;
}

.comment-content .pull-left
{
    margin-top: 6px;
}
