.wrap > .container
{
    background: url("/images/gray-border.png") repeat-y 661px 0 #ffffff;
}

.search-video-result-container
{
    display: inline-block;
    padding: 15px 0;
    width: 100%;
    border-top: 1px solid #efefef;
}

.chapter-description-container.selected
{
    background: #dbdbdb;
}

.chapter-catalog-container
{
    padding-left: 18px;
    width: 661px;
    float: left;
}

.show-catalog-page-container h4,
.show-catalog-page-container h5
{
    color: #262626;
    font-size: 16px;
}

.show-catalog-page-container h4
{
    position: relative;
    z-index: 1;

    margin-top: 25px;
    margin-bottom: -15px;
    padding-bottom: 18px;

    background: #fff;
    font-family: "OpenSans Semibold",sans-serif;
}

.show-catalog-page-container h5
{
    font-family: "OpenSans", "Open Sans", sans-serif;
}

.chapter-video-preview-container
{
    float: left;
    position: relative;
}

.video-text-block
{
    display: inline-block;
    margin-left: 18px;

    width: 490px;
}

.video-title
{
    display: inline-block;
    font-size: 14px;
    margin: 2px 0 3px;
}

.search-video-breadcrumbs
{
    color: #666;
    font-size: 12px;
    font-family: "OpenSans", "Open Sans", sans-serif;
}

.filters-block-container
{
    margin-left: 661px;
    width: 337px;
}

.filters-block-container .filters-block
{
    margin-top: -20px;
    padding: 10px 18px 0;
    width: 336px;
}

.filters-block h5
{
    margin-top: 20px;
    font-size: 14px;
    color: #262626;
    font-family: "OpenSans", "Open Sans", sans-serif;
}

.filters-block .filter,
.filters-block .search-filter-select
{
    width: 100%;
}

.filters-block .search-filter-select,
.filters-block .selectbox .dropdown
{
    width: 300px;
}

.filters-block .selectbox
{
    margin-top: 10px;
}

.filters-block .search-filter-select
{
    margin-top: 10px;
}

.advertisement
{
    border: 1px solid #CCCCCC;
    height: 200px;
    margin-top: 20px;
    width: 100%;
}

/* filters block styles END */