.video-player-container
{
    margin: 20px 0 0;
    padding: 0 15px;
}

.video-viewed
{
    margin-bottom: 10px;
}

.video-view-container h1
{
    width: 85%;
    margin: 0 18px -20px;
    font-size: 22px;
    font-weight: bold;
}

.video-view-container .video-buttons-container .btn
{
    margin-bottom: 10px;
}

.chapter-selected-video
{
    outline: 3px solid #00aa00;
}

.nav-tabs.select-content-tab
{
    padding-left: 20px;
}

.nav-tabs.select-content-tab > li > a,
.nav-tabs.select-content-tab > li.active > a
{
    margin-left: -3px;
    padding: 5px 15px 5px 32px;
    height: 29px;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
}

.nav-tabs.select-content-tab > li > a
{
    color: #212020;
    background: linear-gradient(to top, #f3f3f3, #fefefe);
    font-size: 13px;

    border: 1px solid #ccc;
}

.nav-tabs.select-content-tab > li.active > a
{
    color: #010101;
    background: #fff;

    font-weight: bold;
    border-top: 3px solid #e8710d;
    border-bottom: none;
    border-radius: 0;

    padding-top: 4px;
    height: 30px;
    margin-top: -1px;
}

.nav-tabs > li.video-buttons-container
{
    float: right;
    margin-right: 15px;
}

.video-icon,
.abstract-icon,
.test-icon
{
    float: left;
    position: relative;
    z-index: 1;
    width: 12px;
    height: 12px;
}

.select-content-tab .video-icon
{
    top: 10px;
    left: 15px;

    background: url('/images/video/video.png') no-repeat;
}

.select-content-tab .abstract-icon
{
    top: 12px;
    left: 15px;

    background: url('/images/video/abstract.png') no-repeat;
}

.select-content-tab .test-icon
{
    top: 10px;
    left: 12px;

    background: url('/images/video/test.png') no-repeat;
}

.video-social-buttons a.social_share_link
{
    display: block;
    float: left;
    margin-left: 5px;
    width: 16px;
    height: 16px;
}

.video-social-buttons h5
{
    float: left;
    margin: 0;
    font-size: 13px;
}

.video-social-buttons a.social_share_link.vk
{
    background: url('/images/video/vk.png') no-repeat;
}

.video-social-buttons a.social_share_link.facebook
{
    background: url('/images/video/facebook.png') no-repeat;
}

.video-social-buttons a.social_share_link.twitter
{
    background: url('/images/video/twitter.png') no-repeat;
}

.video-social-buttons a.social_share_link.odnoklassniki
{
    background: url('/images/video/odnoklassniki.png') no-repeat;
}

.video-social-buttons a.social_share_link.mailru
{
    background: url('/images/video/mailru.png') no-repeat;
}

.video-author
{
    float: left;
}

.views-amount
{
    float: right;
}

.show-more-comments
{
    background: #f6f6f6;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    text-align: left;
}

.show-more-comments a
{
    display: block;
    text-align: center;
}

.video-social-buttons
{
    margin-bottom: 10px;
}

.chapter-selected-video
{
    outline: 3px solid #00aa00;
}

.add-video-comment-container textarea
{
    padding-right: 25px;
    resize: none;
}

.question-comment-button
{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('/images/video/question-comment-button.png') no-repeat;

    position: absolute;
    right: 18px;
    top: 28px;
}

.question-comment-button:hover
{
    text-decoration: none;
    background: url('/images/video/question-comment-button.png') no-repeat;
}

.question-comment-button.selected
{
    background: url('/images/video/question-comment-button.png') no-repeat;
}

.user-question-container
{
    display: none;
}

.simple-comment-author-name,
.answer-comment-author-name,
.question-comment-author-name
{
    margin-top: 5px;
    color: #333;
    font-size: 13px;
    font-family: "OpenSans"; /* TODO: OpenSans Semibold */
}

.question-author-name
{
    color: #333;
    font-size: 12px;
    font-family: "OpenSans"; /* TODO: OpenSans Semibold */
}

.show-more-comments a
{
    color: #036995;
    font-size: 13px;
    text-decoration: none;
}

.comment-body
{
    color: #555;
    font-size: 12px;
}

.comment-date
{
    margin-top: 5px;
    color: #999;
    font-size: 11px;
    font-family: "OpenSans";
}