.select-content-tab
{
    float: left;
    margin-top: 20px;
    margin-bottom: -1px;
}

.nav-tabs > li
{
    margin-right: -1px;
}

.nav-tabs > li > a
{
    margin-right: 0;
}

.nav-tabs.select-content-tab > li > a
{
    display: block;
    padding: 5px 20px 5px;
    height: 30px;
    color: #212020;
    font-size: 13px;
    border-radius: 3px 3px 0 0;
    border: 1px solid #ccc;
    cursor: pointer;
    background: linear-gradient(to bottom, #fefefe, #f3f3f3);
}

.nav-tabs.select-content-tab > li > a:hover
{
    background: linear-gradient(to bottom, #fcfcfc, #e9e9e9);
}

.active .active-top-border
{
    display: block;
    position: absolute;
    top: -1px;
    width: 100%;
    height: 4px;
    background: #E8710D;
    z-index: 3;
}

.active-top-border
{
    display: none;
}

.nav-tabs.select-content-tab > li.active > a
{
    color: #010101;
    background: #fff;

    font-family: "OpenSans Semibold",sans-serif;
    border-bottom: none;
}

.tab-icon
{
    float: left;
    position: relative;
    z-index: 1;
    width: 12px;
    height: 12px;
}

.tab-pane
{
    display: none;
}

.tab-pane.active
{
    display: block;
}

.select-content-tab .video-tab-icon
{
    top: 4px;
    left: -4px;

    background: url('/images/video/video-tab-icon.png') no-repeat;
}

.select-content-tab .synopsis-tab-icon
{
    top: 6px;
    left: -4px;

    background: url('/images/video/synopsis-tab-icon.png') no-repeat;
}

.select-content-tab .quiz-tab-icon
{
    top: 3px;
    left: -4px;

    background: url('/images/video/quiz-tab-icon.png') no-repeat;
}

.select-content-tab .questions-tab-icon
{
    top: 3px;
    left: -4px;
    width: 14px;
    height: 13px;

    background: url('/images/teacher-page/questions-tab-icon.png') no-repeat;
}

.select-content-tab .video-with-questions-tab-icon
{
    top: 3px;
    left: -4px;
    height: 13px;

    background: url('/images/teacher-page/video-with-questions-tab-icon.png') no-repeat;
}

.tabs-container
{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
