.wrap > .container
{
    background: url('/images/teacher-page/sidebar-menu-row-background.png') repeat-y 0 -11px #ffffff;
}

.profile-sidebar-menu
{
    list-style: none;
    margin-right: 1px;
    margin-top: 4px;
}

.profile-sidebar-menu li
{
    display: inline-block;
    height: 42px;
    margin-bottom: -1px;
    width: 100%;
    padding-top: 1px;
}

.profile-sidebar-menu li a
{
    display: inline-block;
    padding: 8px 36px;
    text-decoration: none;
    font-family: "OpenSans Semibold", sans-serif;
    font-size: 15px;
    color: #333333;

    background: url('/images/chapters-list/chapter-list-marker.png') no-repeat 20px 15px;
}

.profile-sidebar-menu li.current a
{
    color: #004e78;
}

.profile-sidebar-menu li.current
{
    border-bottom: 1px solid #C3D6E1;
    border-top: 1px solid #C3D6E1;
    padding-top: 0;
    background: url('/images/teacher-page/profile-sidebar-menu-arrow.png') no-repeat 251px 0 #EEF9FE;
}

.tab-pane
{
    display: none;

    padding: 6px 26px;
}

.tab-pane.active
{
    display: block;
}

.profile-sidebar-menu-container
{
    float: left;
    width: 297px;
}

.teacher-profile-container
{
    float: left;
    width: 701px;
}

.teacher-profile-container .user-profile-column-container,
.teacher-profile-container .photo-column-container
{
    margin-top: 14px;
}

.teacher-profile-container .form-control
{
    padding: 0 6px;
    height: 27px;
}

.teacher-profile-container label
{
    display: block;
    float: left;
    margin-top: 5px;
}

.teacher-profile-container h3,
.teacher-profile-container label,
.teacher-profile-container .setting-label
{
    font-family: "OpenSans Semibold",sans-serif;
    font-weight: normal;
}

.semi-active-button,
.non-active-button,
.semi-active-button a,
.non-active-button a
{
    display: inline-block;
    padding-right: 14px;
    padding-left: 14px;
    width: auto;
    height: 31px;

    font-size: 13px;
    font-family: "OpenSans Semibold",sans-serif;
}

.teacher-profile-container h3
{
    margin: 0;
    padding-bottom: 20px;
    color: #000;
    font-size: 16px;
}

.teacher-profile-container .form-group
{
    margin-bottom: 14px;
}

.teacher-profile-container .settings-column-container
{
    margin-top: 45px;
}

.show-questions-tab-menu
{
    padding: 0 26px;
}

.user-questions-count
{
    color: #004e78;
}

.profile-sidebar-menu-container .user-questions-count
{
    font-size: 15px;
    font-family: "OpenSans Semibold", sans-serif;
}

.videos-with-questions-list .open-video-question-link
{
    font-size: 14px;
    font-family: "OpenSans Semibold", sans-serif;
    color: #222222;
}

.video-questions-container .user-questions-count
{
    font-size: 13px;
    font-family: "OpenSans", "Open Sans", sans-serif;
}

.videos-with-questions-list
{
    list-style: none;
}

.videos-with-questions-list .video-with-questions-list-item
{
    display: inline-block;
}

.videos-with-questions-list li
{
    padding: 16px 0 18px;
    border-top: 1px solid #efefef;
}

.videos-with-questions-list li.first
{
    border-top: none;
}

.video-breadcrumbs
{
    font-family: "OpenSans", "Open Sans", sans-serif;
    font-size: 12px;
    color: #666666;
    margin-top: 5px;
    margin-bottom: 0;
}

.video-questions
{
    list-style: none;
    margin-top: 18px;
}

.video-questions li
{
    border-top: 1px solid #efefef;
    padding: 23px 0 26px;
}

.video-questions .media-body
{
    margin-left: 61px;
}

.video-questions .comment-author
{
    font-family: "OpenSans Semibold", sans-serif;
    font-size: 13px;
    color: #333333;
    display: block;
}

.video-questions .comment-body
{
    font-family: "OpenSans", "Open Sans", sans-serif;
    font-size: 12px;
    color: #555555
}

.video-questions .comment-date
{
    font-family: "OpenSans", "Open Sans", sans-serif;
    font-size: 11px;
    color: #999999;
    margin-top: 8px;
}

.video-questions .show-answer-form-link .semi-active-button-label
{
    background: url('/images/teacher-page/show-answer-form-link-icon.png') no-repeat;
}

.video-questions-container h4
{
    font-size: 14px;
    font-family: "OpenSans Semibold", sans-serif;
    color: #222222;
    margin: 18px 0 8px;
}

.select-content-tab
{
    margin-top: 16px;
}

.question-answer-form-container
{
    margin-top: 1px;
    width: 496px;
}

.form-group.add-video-comment-container label
{
    float: none;
    color: #333;
    font-size: 15px;
    font-family: "OpenSans Semibold",sans-serif;
}

.form-group.add-video-comment-container textarea
{
    padding: 4px 9px;
    height: auto;
    border-radius: 0;
    resize: none;

    color: #2a2a2a;
    font-size: 12px;
}

.question-answer-form-container .send-comment-button
{
    padding: 0 14px;
    width: auto;
    height: 30px;
}

.question-answer-form-container .send-comment-button .active-button-label
{
    font-size: 13px;
    font-family: "OpenSans Semibold",sans-serif;
    background: url('/images/teacher-page/send-answer-button-icon.png') no-repeat 0 3px;
}