.wrap > .container
{
    background: url('/images/user-profile/user-profile-background.png') repeat-y 0 27px;
}

.photo-button
{
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    overflow: hidden;
    width: 148px;
    height: 31px;
    top: 0;
    left: 0;
}

.photo-button input
{
    filter: alpha(opacity=0);
    opacity: 0;

    margin-top: -50px;
    margin-left: -410px;
    font-size: 70px;
    height: 100px;
    width: 611px;
    position: relative;

    cursor: pointer;
}

.upload-photo-button-container
{
    margin: 14px 0;

    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 31px;
}

.popup-content
{
    padding: 30px;
}

.popup-content ol
{
    padding: 0 20px;
}

.additional-form-container.user-profile-popup h3
{
    margin-bottom: 0;
    padding: 0;
}

.upload-label.active-button
{
    width: auto;
}

.upload-label.active-button .active-button-label
{
    padding-left: 0;
    font-weight: normal;
}

.change-password-popup
{
    width: 400px;
}

.user-profile-top-horizontal-line
{
    height: 6px;
    background: url('/images/user-profile/user-profile-horizontal-placeholder-line.png') repeat-y;
}

.user-profile-container .form-control
{
    padding: 0 6px;
    height: 27px;
}

.user-profile-container .form-group
{
    margin-bottom: 14px;
}

.user-profile-container h3,
.user-profile-container label,
.user-profile-container .setting-label
{
    font-family: "OpenSans Semibold",sans-serif;
    font-weight: normal;
}

.user-profile-container h3
{
    margin: 0;
    padding-bottom: 26px;
    color: #000;
    font-size: 16px;
}

.user-profile-container label,
.setting-label,
.current-setting-value
{
    color: #2a2a2a;
    font-size: 12px;
}

.photo-column-container
{
    padding-left: 23px;
    padding-right: 24px;
    width: 247px;

    text-align: center;
}

.add-photo-button,
.edit-photo-button,
.delete-photo-button
{
    width: 147px !important;
}

.add-photo-button .semi-active-button-label
{
    background: #fff url('/images/user-profile/add-photo-button-icon.png') no-repeat 0 3px;
}

.edit-photo-button .non-active-button-label
{
    background: #fff url('/images/user-profile/edit-photo-button-icon.png') no-repeat 0 4px;
}

.delete-photo-button .non-active-button-label
{
    background: #fff url('/images/user-profile/delete-photo-button-icon.png') no-repeat 0 4px;
}

.form-control,
.date-form select
{
    border-color: #c8c8c8;
}

.edit-user-profile-form
{
    width: 100%;
}

.edit-user-profile-form input[type="text"]
{
    width: 222px;
}

.save-user-profile-button
{
    float: right;
}

.user-profile-container label
{
    display: block;
    float: left;
    margin-top: 5px;
}

.edit-user-profile-form label
{
    width: 107px;
}

.edit-user-profile-form .input-group input,
.sex-field label,
.current-setting-value
{
    font-family: "OpenSans", "Open Sans", serif;
}

.sex-field .iradio,
.sex-field input
{
    display: block;
    float: left;
    margin-top: 7px;
}

.sex-field
{
    padding-left: 0;
    border: none;
}

.sex-field label
{
    padding-left: 3px;
    width: 78px;
}

.grade-select
{
    padding: 0;
    width: 100px;
    border-radius: 4px !important;
}

.date-form .form-control.select
{
    padding: 4px 8px 6px;
    height: 32px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.form-control.date-select-block
{
    display: inline-block;
    padding: 0;
    width: 220px;
    border: none;
}

.save-user-profile-button-container
{
    padding-top: 7px;
    padding-left: 108px;
}

.save-user-profile-button .semi-active-button-label
{
    background: url("/images/user-profile/save-user-profile-button-icon.png") no-repeat scroll 0 3px #FFFFFF;
}

.settings-column-container
{
    padding-left: 19px;
    padding-right: 20px;
    width: 378px;
}

.settings-column-container .edit-account-setting-button
{
    position: relative;
    top: 3px;
}

.change-email-controller
{
    margin-top: 2px;
    margin-bottom: 21px;
}

.setting-label
{
    display: inline-block;
    width: 58px;
}

.current-setting-value
{
    display: inline-block;
    margin-right: 13px;
}

.user-profile-container
{
    display: inline-block;
    padding-bottom: 30px;
}

.user-profile-bottom-horizontal-placeholder
{
    background-color: #FFFFFF;
    bottom: 54px;
    height: 30px;
    position: absolute;
    width: 100%;
}

.user-profile-bottom-horizontal-placeholder > .line
{
    width: 100%;
    height: 10px;
    background: url('/images/user-profile/user-profile-horizontal-placeholder-line.png') repeat-y;
}

/* change forms styles BEGIN */
.change-form-container
{
    position: relative;

    padding: 15px 18px;
    width: 100%;
    background: rgba(255, 253, 247, 0.5);
    border: 1px solid #dfbca7;
}

.change-email-form-container
{
    position: relative;
    bottom: 10px;
}

.change-password-form-container
{
    position: relative;
    bottom: -11px;
}

.change-password-form-container .show-password-icon
{
    background-position: 0 9px;
}

.change-password-form-container .show-password-icon.opened
{
    background-position: 0 8px;
}

.change-form-container h4
{
    margin: 0;
    height: 33px;
    font-size: 13px;
    font-family: "OpenSans Bold",sans-serif;
}

.change-form-container label
{
    float: left;
    width: 111px;
}

.change-form-container input
{
    width: 190px;
}

.non-active-button-label
{
    padding-left: 19px;
    color: #686868;
}

.change-buttons-container
{
    display: inline-block;
    float: right;
    padding-top: 7px;
}

.change-setting-button,
.cancel-edit-account
{
    margin-left: 12px;
    float: left;
}

.change-setting-button .semi-active-button-label
{
    background: url('/images/user-profile/change-setting-icon.png') no-repeat 0 3px;
}

.cancel-edit-account .non-active-button-label
{
    background: url('/images/user-profile/cancel-edit-icon.png') no-repeat 0 3px;
}
/* change forms styles END */

/* selectbox additional styles BEGIN */
.selectbox .select
{
    padding: 0 7px;
    height: 27px;
    line-height: 25px;

    color: #2a2a2a;
    font-size: 12px;
    font-family: "OpenSans", "Open Sans", serif;

    background: #ffffff linear-gradient(#ffffff, #fdfdfd);
}

.selectbox .trigger .arrow
{
    top: 11px;
    right: 6px;
    opacity: 1;
}

.grade-form .selectbox,
.grade-form .selectbox .select,
.selectbox .dropdown

{
    width: 100px !important;
}

.date-form .selectbox
{
    margin-right: 5px;
}
/* selectbox additional styles END */