.photo-button
{
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    overflow: hidden;
    width: 208px;
    height: 30px;
}

.photo-button input
{
    filter: alpha(opacity=0);
    opacity: 0;

    margin-top: -50px;
    margin-left: -410px;
    font-size: 40px;
    height: 100px;
    width: 550px;
    position: relative;

    cursor: pointer;
}

.upload-photo-button-container
{
    margin-top: 10px;

    text-align: center;
    overflow: hidden;
    width: 208px;
    height: 30px;
}

.edit-button,
.edit-button span
{
    display: block;
    float: left;
}

.edit-button
{
    height: 30px;
    padding: 0 5px;

    border: 1px solid #4ea4cd !important;
    border-radius: 3px !important;
    background: #fdfdfd !important;
    background: linear-gradient(#fdfdfd, #f0f0f0) !important;
}

.edit-button-icon
{
    margin: 7px 0 0;
    width: 12px;
    height: 14px;
    background: url('/images/video/edit-button-icon.png') no-repeat;
}

.edit-button-label
{
    margin-top: 4px;
    margin-left: 8px;

    color: #0373a8;
    font-size: 13px;
    font-family: "OpenSans Semibold",sans-serif;
}

.popup-content
{
    padding: 30px;
}

.upload-label
{
    display: inline-block;
    background: linear-gradient(#FDFDFD, #F0F0F0) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid #4EA4CD !important;
    border-radius: 3px !important;
    height: 30px;
    padding: 0 5px;

    color: #0373A8;
    font-family: "OpenSans Semibold",sans-serif;
    font-size: 13px;
    cursor: pointer;
}

.change-password-popup
{
    width: 400px;
}

.user-profile-container
{
    margin-top: 28px;
}

.user-profile-container h3,
.user-profile-container label
{
    font-family: "OpenSans Semibold",sans-serif;
    font-weight: normal;
}

.user-profile-container h3
{
    margin: 20px 0;
    color: #000;
    font-size: 16px;
}

.user-profile-container label
{
    color: #2a2a2a;
    font-size: 12px;
}

.photo-column-container,
.user-profile-column-container,
.settings-column-container
{
    float: left;
}

.photo-column-container
{
    padding-left: 23px;
    padding-right: 24px;
    width: 247px;
}

.photo-container
{
    width: 200px;
    height: 201px;

    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-profile-column-container
{
    width: 378px;
    padding-left: 24px;
    padding-right: 16px;
}

.form-control,
.date-form select
{
    border-color: #c8c8c8;
}

.edit-user-profile-form
{
    width: 100%;
}

.edit-user-profile-form input[type="text"]
{
    width: 230px;
}

.edit-user-profile-form label
{
    width: 108px;
}


.edit-user-profile-form .input-group input,
.sex-field label
{
    font-family: "OpenSans",serif;
}

.sex-form label,
.sex-field .iradio
{
    display: block;
    float: left;
}

.sex-field
{
    padding-left: 0;
    border: none;
}

.sex-field label
{
    bottom: 2px;
    left: 2px;
    position: relative;
    width: 78px;
}

.grade-select
{
    width: 82px !important;
    border-radius: 4px !important;
}

.date-form select
{
    padding: 4px 8px 6px;
    height: 32px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.date-select-block
{
    padding: 0;
    width: 220px;
    border: none;
}

.settings-column-container
{
    padding-left: 16px;
    width: 373px;
}