.chapter-videos-block-container
{
    margin: -20px 0;
    padding: 20px 18px;

    width: 337px;
}

.videos-list-container
{
    margin-left: 661px;
    width: 337px;
}

.chapter-videos-list,
.chapter-videos-list a,
.chapter-videos-list img
{
    display: block;
}

.chapter-video-description-container
{
    margin-left: 135px;
}

.chapter-video-preview-container
{
    width: 120px;
    float: left;
}

.chapter-video-preview-container,
.chapter-video-preview-container a
{
    display: inline-block;
    position: relative;
}

.chapter-video-preview-container a .over-play-sign
{
    display: none;
    margin-left: 44px;
    margin-top: 22px;
    position: absolute;
    width: 25px;
    height: 29px;
    background: url('/images/video/video-preview-over.png') no-repeat;
}

.chapter-video-preview-container a:hover .over-play-sign
{
    display: block;
}

.over-video-duration
{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;

    color: #fff;
    font-family: "OpenSans Semibold",sans-serif;
    font-size: 10px;
    background: url('/images/video/video-duration-background.png') repeat-x;
}

.chapter-selected-video .over-video-duration
{
    right: 2px;
    bottom: 2px;
}

.chapter-selected-video
{
    position: relative;
    right: 2px;
}

.chapter-name
{
    margin-bottom: 14px;
    color: #303030;
    font-size: 15px;
    font-family: "OpenSans Semibold",sans-serif;
}

.chapter-videos-block-container h5
{
    margin-bottom: 15px;
    color: #262626;
    font-size: 15px;
    font-family: "OpenSans", "Open Sans", serif;
}

.video-title
{
    display: inline-block;
    margin-top: -1px;
    margin-bottom: 5px;
    color: #222;
    font-size: 12px;
    font-family: "OpenSans Semibold",sans-serif;
    cursor: pointer;
}

.video-title:hover
{
    color: #222;
    text-decoration: underline;
}

.video-author-in-list
{
    margin-bottom: 5px;
    color: #666;
    font-size: 11px;
}

.video-has-quiz,
.video-has-synopsis,
.icons-delimiter
{
    display: block;
    float: left;
}

.video-has-synopsis
{
    margin-top: 2px;
    width: 9px;
    height: 8px;
    background: url('/images/video/video-has-synopsis-icon.png') no-repeat;
}

.video-has-synopsis:hover
{
    background: url('/images/video/video-has-synopsis-icon-over.png') no-repeat;
}

.icons-delimiter
{
    margin-left: 5px;
    margin-right: 6px;
    width: 1px;
    height: 11px;
    background: #f0f0f0;
}

.video-has-quiz
{
    width: 12px;
    height: 12px;
    background: url('/images/video/video-has-quiz-icon.png') no-repeat;
}

.video-has-quiz:hover
{
    background: url('/images/video/video-has-quiz-icon-over.png') no-repeat;
}

.chapter-videos-list
{
    list-style-type: none;
}

.chapter-videos-list > li
{
    margin-bottom: 19px;
    display: inline-block;
}

/* moderator styles BEGIN */
.chapter-list-moderator-buttons-block,
.chapter-list-moderator-buttons-block a
{
    height: 30px;
}

.chapter-list-moderator-buttons-block
{
    margin-bottom: 19px;
}

.add-button,
.video-down,
.video-up,
.video-down-icon,
.video-up-icon
{
    display: block;
}

.active-button.add-button
{
    display: inline-block;
    float: left;
    padding: 0 14px;
    width: auto;
    height: 30px;

    font-size: 13px;
}

.add-button .active-button-label
{
    font-family: "OpenSans Semibold",sans-serif;
    background: url('/images/video/add-button-icon.png') no-repeat 0 3px;
}

.semi-active-button.video-down,
.semi-active-button.video-up
{
    float: left;
    margin-left: 4px;
    padding-top: 0;

    width: 30px;
}

.video-down-icon,
.video-up-icon
{
    margin-left: 7px;

    width: 14px;
    height: 15px;
}

.video-down-icon
{
    margin-top: 7px;
}

.video-up-icon
{
    margin-top: 6px;
}

.video-down-icon
{
    background: url('/images/video/video-down-icon.png') no-repeat;
}

.video-up-icon
{
    background: url('/images/video/video-up-icon.png') no-repeat;
}
/* moderator styles END */
