{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block content %}
  <div class="static-form-container additional-form-container">
    <h3>Сообщение успешно отправлено</h3>
    <h5>
      Большое спасибо, что написали нам!
    </h5>
    Перейти на <a href="{{ path("znaika_frontend_homepage") }}" title="">Главную страницу сайта</a>
  </div>
{% endblock %}