<div class="class-horizontal-bar">
  <div class="class-menu-top-line"></div>
  {% include "ZnaikaFrontendBundle:Menu:sidebar_grade_menu.html.twig" %}
</div>
<div class="subjects-horizontal-bar">
  {% include "ZnaikaFrontendBundle:Menu:sidebar_subject_menu.html.twig" %}
</div>