<div class="subject-menu">
  {{ knp_menu_render('sidebar_subject_menu') }}
  <a href="javascript:void(0);" class="subject-menu-more-link hidden">Еще</a>
  <div class="clear"></div>
  <div class="subject-menu-more-container hidden"></div>
  <input type="hidden" id="gradesSubjects" value="{{ grades_with_subjects_json() }}"/>
</div>