<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  {% include "ZnaikaFrontendBundle:Menu:sidebar-grade-menu.html.twig" %}
  {% include "ZnaikaFrontendBundle:Menu:sidebar-subject-menu.html.twig" %}
</div>