<div class="subject-menu">
  {{ knp_menu_render('sidebar_subject_menu') }}
  <div class="clear"></div>
  <div class="subject-menu-more-container hidden">
    <a href="javascript:void(0);" class="subject-menu-more-link">Еще<span class="more-button-carot">&nbsp;</span></a>
    <ul>
    </ul>
  </div>
  <input type="hidden" id="gradesSubjects" value="{{ grades_with_subjects_json() }}"/>
</div>