{% extends 'ZnaikaFrontendBundle::Email/emailLayout.html.twig' %}

{% block subject %}
  Ваш аккаунт заблокирован администрацией сайта Знайка.ру
{% endblock %}

{% block body %}
  <strong>Здравствуйте! Ваш аккаунт заблокирован администрацией сайта.</strong>
  <p>Причина: нарушение положений Пользовательского соглашения при заполнении своего профиля.</p>
  <p>Условие снятия блокировки: заполнение <a href="{{ url('show_user_profile', {"userId": user.userId}) }}" title="">профиля</a> без нарушений.</p>
  <p>Убедительно просим Вас в дальнейшем не нарушать положений <a href="{{ url('rules') }}" title="">Пользовательского соглашения.</a><</p>
  <br/>
  <p>Это сообщение отправлено автоматически. Отвечать на него не нужно.</p>
{% endblock %}