{% extends 'ZnaikaFrontendBundle::Email/emailLayout.html.twig' %}

{% block subject %}
  Ваш аккаунт на Знайка.ру забанен
{% endblock %}

{% block body %}
  <strong>Ваш аккаунт заблокирован администрацией сайта.</strong>
  <p>Причина: повторное нарушение положений <a href="{{ url('rules') }}" title="">Пользовательского соглашения</a>.</p>
  <p>Условие снятия блокировки: положительное решение администрации сайта на обращение пользователя.</p>
  <p>Для создания обращения воспользуйтесь формой <a href="{{ url('support') }}" title="">обратной связи.</a></p>

{% endblock %}