{% extends 'ZnaikaFrontendBundle::Email/emailLayout.html.twig' %}

{% block subject %}
  Администрацией сайта Знайка.ру Вам заблокирована возможность создания комментариев к видеоурокам.
{% endblock %}

{% block body %}
  <strong>Здравствуйте! Администрацией сайта Вам заблокирована возможность создания комментариев к видеоурокам.</strong>
  <p>Причина: нарушение положений Пользовательского соглашения при комментировании видеоурока.</p>
  <p>Условие снятия блокировки: истечение 24 часов со времени получения данного письма.</p>
  <p>Убедительно просим Вас в дальнейшем не нарушать положений <a href="{{ url('rules') }}" title="">Пользовательского соглашения.</a></p>
  <br/>
  <p>Это сообщение отправлено автоматически. Отвечать на него не нужно.</p>
{% endblock %}