{% extends 'ZnaikaFrontendBundle::Email/emailLayout.html.twig' %}

{% block subject %}
  Ваш аккаунт на Знайка.ру забанен
{% endblock %}

{% block body %}
  <strong>Ваш аккаунт заблокирован администрацией сайта.</strong>
  <p>Причина: нарушение положений <a href="{{ url('rules') }}" title="">Пользовательского соглашения</a> при заполнении своего профиля.</p>
  <p>Условие снятия блокировки: заполнение профиля без нарушений.</p>
  <p>Убедительно просим Вас в дальнейшем не нарушать положений <a href="{{ url('rules') }}" title="">Пользовательского соглашения.</a><</p>

{% endblock %}