{% extends 'ZnaikaFrontendBundle::Email/emailLayout.html.twig' %}

{% block subject %}
  Ваш аккаунт на Знайка.ру забанен
{% endblock %}

{% block body %}
  <strong>Администрацией сайта заблокирована возможность создания Вами комментариев к видеоурокам на сутки.</strong>
  <p>Причина: нарушение положений <a href="{{ url('rules') }}" title="">Пользовательского соглашения</a> при комментировании видеоурока.</p>
  <p>Убедительно просим Вас в дальнейшем не нарушать положений <a href="{{ url('rules') }}" title="">Пользовательского соглашения.</a></p>
{% endblock %}