<form action="{{ path('login_check') }}" method="post" id="loginForm" class="additional-form">
  <div class="form-group input-group">
    <label for="username">E-mail</label>
    <input class="form-control" type="text" id="username" name="_username" placeholder="anna.petrova@mail.com" value=""/>
  </div>

  <div class="form-group input-group">
    <label for="password">Пароль</label>
    <input class="form-control" type="password" id="password" name="_password" placeholder="английские буквы, цифры и знаки"/>
  </div>

  <a href="{{ path("password_recovery") }}" class="forget-password-link" title="" id="switchForgetPasswordLink">Забыли пароль?</a>

  <input type="hidden" name="assign_social_account" value="1"/>
  <div class="additional-form-button-container">
    <div class="outer-border">
      <button class="form-submit-button" type="submit">Сохранить</button>
    </div>
  </div>
</form>