{% if badges %}
  <a href="javascript:void(0);" title="" data-mfp-src="#badgesPopup" class="new-user-badge-link">&nbsp;</a>
  <div id="badgesPopup" class="badges_popup mfp-hide popup">
    <p><strong>Поздравляем!</strong> Ты получил новые бейджи!</p>
    {% for badge in badges %}
      {{ badge_name(badge) }}
      <br/>
    {% endfor %}
  </div>
{% endif %}