{% extends 'ZnaikaFrontendBundle::Email/emailLayout.html.twig' %}

{% block subject %}
  Пожалуйста, подтвердите изменение почтового адреса на Знайка.ру
{% endblock %}

{% block body %}
  <strong>Здравствуйте! Для подтверждени изменения почтового адреса (логина), пожалуйста, перейдите по ссылке:</strong>
  <strong>
    <h5> <a href="{{ url('complete_change_email', {'key': changeKey}) }}" title="">{{ url('complete_change_email', {'key': changeKey}) }}</a></h5>
  </strong>

  <p>
    Если ссылка не открывается, скопируйте её и вставьте в адресную строку браузера.
  </p>
  <p>
    Если Вы не изменяли почтовый адрес (логин), пожалуйста, проигнорируйте это письмо.
    Это сообщение отправлено автоматически. Отвечать на него не нужно.
  </p>
{% endblock %}