{% extends 'ZnaikaFrontendBundle::Email/emailLayout.html.twig' %}

{% block subject %}
  Восстановление пароля на Знайка.ру
{% endblock %}

{% block body %}
  <strong>Здравствуйте! Для изменения пароля, пожалуйста, перейдите <span style="text-decoration: underline;">по ссылке:</span></strong>
  Для доступа к сайту используйте:<br />
  <strong>
    <h5> <a href="{{ url('generate_password', {'recoveryKey': recoveryKey}) }}" title="">{{ url('generate_password', {'recoveryKey': recoveryKey}) }}</a></h5>
  </strong>
  <p>
    Если ссылка не открывается, скопируйте её и вставьте в адресную строку браузера.
  </p>
  <p>
    Если Вы не забывали пароль от сайта Знайка.ру, пожалуйста, проигнорируйте это письмо.
    Это сообщение отправлено автоматически. Отвечать на него не нужно.
  </p>
{% endblock %}