{% extends 'ZnaikaFrontendBundle::Email/emailLayout.html.twig' %}

{% block subject %}
  Восстановление пароля на Знайка.ру
{% endblock %}

{% block body %}
  <b>Пароль восстановлен</b>
  Для доступа к сайту используйте:<br />
  <b>
    <h5> E-mail: {{ email }} </h5>
    <h5> Link: {{ recoveryKey }} </h5>
  </b>

  <p>
    Вы можете изменить пароль в своём профиле.
  </p>
  <p>
    Это сообщение отправлено автоматически. Отвечать на него не нужно.
  </p>
{% endblock %}