{% extends 'ZnaikaFrontendBundle::Email/emailLayout.html.twig' %}

{% block subject %}
  Пожалуйста, подтвердите свою регистрацию
{% endblock %}

{% block body %}
  <b>Здравствуйте! Для подтверждения регистрации, пожалуйста, перейдите по ссылке:</b>
  <br/>
  <a href="{{ url('register_confirm', {'registerKey': registerKey}) }}" title="">{{ url('register_confirm', {'registerKey': registerKey}) }}</a><br/>
  <br/>
  Если ссылка не открывается, скопируйте её и вставьте в адресную строку браузера. <br/>
  <br/>
  Если Вы не регистрировались, пожалуйста, проигнорируйте это письмо. <br/>
  Это сообщение отправлено автоматически. Отвечать на него не нужно. <br/>
{% endblock %}