{% if error %}
  <div class="alert alert-danger">{{ error.message }}</div>
{% endif %}
<form action="{{ path('login_check') }}" method="post" id="forgetPasswordForm" class="forget-password-form">
  <div class="form-group input-group">
    <label for="username">Email</label>
    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>
  </div>

  <input type="hidden" name="_target_path" value="{{ referrer }}"/>
  <div class="forget-password-button-container">
    <button class="btn btn-primary" type="submit">Восстановить пароль</button>
  </div>
</form>