<div class="additional-form-container">
  <div class="additional-form-header recover-password-request-header">
    <h3>Завершение восстановления пароля</h3>
  </div>
  <div class="additional-form-header-horizontal-bar"></div>
  <h5>На вашу почту отправлено письмо со ссылкой для создания нового пароля.</h5>
</div>