<div class="login-popup-header forget-password-success-message">
  <h3>Завершение восстановления пароля</h3>
  <h5>На вашу почту отправлено письмо со ссылкой для создания нового пароля.</h5>
</div>