{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block content %}
  <div>
    {% include 'ZnaikaFrontendBundle:User:forget_password_form.html.twig' with {'form': form} %}
  </div>
{% endblock %}