{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts
    '../app/Resources/public/js/classes/form/GetNewPasswordForm.class.js'
  %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
  <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
    {% include 'ZnaikaFrontendBundle:User:get_new_password_form.html.twig' with {'form': form, 'recoveryKey': recoveryKey} %}
  </div>
{% endblock %}