<div id="userProfileContent{{ user.userId }}">
  {% include "ZnaikaFrontendBundle:User:show_user_profile_block.html.twig" with {'user': user} %}

  <div class="moderator-profile-buttons-container">
    <div class="moderator-profile-buttons">
      <a class="semi-active-button approve-user-profile-link" id="approveUser{{ user.userId }}" href="javascript:void(0);" title="">
        <span class="semi-active-button-label">Одобрить</span>
      </a>
      {{ ban_reason_button(user)|raw }}
      <input type="hidden" id="userProfileId" value="{{ user.userId }}">
    </div>
  </div>
</div>