<div class="login-popup-right-column">
  <h5>Быстрый вход</h5>
  <div>
    <a href="{{ path("vk_login") }}" class="vk-login" title="Войти через В контакте"></a>
  </div>
  <div>
    <a href="{{ path("odnoklassniki_login") }}" class="odnoklassniki-login" title="Войти через Одноклассники"></a>
  </div>
  <div>
    <a href="{{ path("facebook_login") }}" class="facebook-login" title="Войти через Facebook"></a>
  </div>
</div>