{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block content %}
  {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-info">
      {{ flashMessage }}
    </div>
  {% endfor %}

  {% include "ZnaikaFrontendBundle:User:show_user_profile_block.html.twig" with {'user': user} %}
{% endblock %}
