@font-face
{
    font-family: "OpenSans";
    src: local("OpenSans"),
    url("/font/open_sans.ttf");
}

@font-face
{
    font-family: "OpenSans Italic";
    src: local("OpenSans Italic")
    url(/font/open_sans_italic.ttf);
}

@font-face
{
    font-family: "OpenSans Bold";
    src: local("OpenSans Bold")
    url(/font/open_sans_bold.ttf);
}