*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100%;
    font-family: "OpenSans", "Open Sans", sans-serif;
    background: #FCFCFC;
}

h3
{
    font-size: 24px;
    font-family: "OpenSans Semibold", sans-serif;
}

a:focus
{
    outline: none;
    outline: 0;
}

.clear
{
    clear: both;
}

.wrap
{
    display: inline;
    min-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    margin: 0;
    padding: 0;
}

.nav > li > a:hover,
.nav > li > a:focus
{
    background: none;
}

.col-left
{
    padding-left: 0;
}

.col-right
{
    padding-right: 0;
}

.col-center
{
    padding-left: 0;
    padding-right: 0;
}

.footer
{
    position: relative;
    height: 54px;

    background: #25658a;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#25658a), to(#0b567a));
    background: -webkit-linear-gradient(#25658a, #0b567a);
    background: -moz-linear-gradient(#25658a, #0b567a);
    background: -ms-linear-gradient(#25658a, #0b567a);
    background: -o-linear-gradient(#25658a, #0b567a);
    background: linear-gradient(#25658a, #0b567a);
}

.wrap > .container
{
    width: 1000px !important;
    display: block;
    position: relative;
    min-height: 100%;
    height: auto !important;
    margin: -132px auto -54px;
    padding: 149px 0 69px;

    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #fff;
}

.header-container
{
    position: relative;
    z-index: 5;
    min-width: 1000px;
}

.header-logo-container
{
    float: left;
    margin-top: 11px;
}

.header-logo
{
    margin-left: -17px;
    padding: 0;
}

.content-container
{
    display: inline-block;
    margin-bottom: -10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.container .credit
{
    margin: 20px 0;
}

.navbar-container
{
    background: #eef9fe;
    margin-bottom: 0;
    height: 63px;
}

.class-horizontal-bar
{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 36px;

    border-bottom: 1px solid #0074a5;

    background: #31a0d4;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#31a0d4), to(#208bbd));
    background: -webkit-linear-gradient(#31a0d4, #208bbd);
    background: -moz-linear-gradient(#31a0d4, #208bbd);
    background: -ms-linear-gradient(#31a0d4, #208bbd);
    background: -o-linear-gradient(#31a0d4, #208bbd);
    background: linear-gradient(#31a0d4, #208bbd);
}

.class-menu-top-line
{
    position: absolute;
    top: 1px;
    z-index: 1;
    width: 100%;
    height: 1px;
    background: #4fb4e9;
}

.subjects-horizontal-bar
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 33px;

    background: #f4f4f4;
    box-shadow: 0 5px 10px -8px;
    -webkit-box-shadow: 0 5px 10px -8px #000000;
    -mox-box-shadow: 0 5px 10px -8px #000000;
    -o-box-shadow: 0 5px 10px -8px #000000;
}

.navbar-brand
{
    padding: 0;
    margin-left: -17px !important;
}

.navbar-header
{
    margin-top: 11px;
}

.navbar-toggle
{
    background: #0088CC;
}

.navbar-toggle .icon-bar
{
    background: #2a6496;
}

.nav
{
    margin-top: 40px;
}

.navbar .nav > li > a
{
    color: #000000;
    padding: 0 12px;
}

.class-menu,
.subject-menu
{
    position: relative;
    z-index: 2;
    padding: 0;
    width: 100%;
}

.class-menu
{
    height: 36px;
}

.class-menu ul
{
    margin: 0;
}

.nav.nav-justified > li
{
    display: table-cell;
    width: 1%;
}

.class-menu .nav.nav-justified > li
{
    margin-left: -1px;
    height: 36px;
    border-left: 1px solid #1181b3;
    border-right: 1px solid #329dd1;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.class-menu .nav.nav-justified > li:hover
{
    background: #2199cd;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2199cd), to(#1484b6));
    background: -webkit-linear-gradient(#2199cd, #1484b6);
    background: -moz-linear-gradient(#2199cd, #1484b6);
    background: -ms-linear-gradient(#2199cd, #1484b6);
    background: -o-linear-gradient(#2199cd, #1484b6);
    background: linear-gradient(#2199cd, #1484b6);
}

.class-menu .nav.nav-justified > li.first
{
    border-left: none;
}

.class-menu .nav.nav-justified > li.last
{
    border-right: none;
}

.class-menu .nav.nav-justified > li.selected
{
    position: relative;
    z-index: 2;
    border-color: #0074a6;
    background: #0074a6;
}

.class-menu .nav.nav-justified > li.selected .class-menu-top-line
{
    display: none;
}

.class-menu li > span
{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 35px;
    line-height: 36px;

    color: #fff;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.class-menu li.first > span
{
    border-left: none;
}

.class-menu .selected .arrow
{
    display: block;
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -3px;
    width: 9px;
    height: 6px;
    background: url('/images/header/arrow.png') no-repeat;
}

.class-menu .arrow
{
    display: none;
}

.class-menu .first > span
{
    margin: 0;
}

.class-menu .grade-number
{
    font-size: 14px;
}

.subject-menu
{
    height: 33px;
    position: relative;
}

.subject-menu .subject-menu-more-link
{
    border-left: 1px solid #e2e2e2;
    float: right;
    padding-right: 30px !important;
    position: relative;
}

.subject-menu .more-button-caret
{
    display: inline-block;
    height: 5px;
    width: 8px;
    position: absolute;
    right: 18px;
    top: 15px;
    background: url("/images/more-button-caret.png") no-repeat;
}

.subject-menu .subject-menu-list
{
    float: left;
    margin: 0;
    overflow: hidden;
    height: 33px;

    background: #f4f4f4;
}

.subject-menu-list li
{
    display: inline-block;
    width: auto;
    height: 33px;
    float: left;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #fcfcfc;
}

.subject-menu-list li:hover,
.subject-menu-more-link:hover
{
    background: #ebebeb;
}

.subject-menu li.first
{
    border-left: none;
    border-right: 1px solid #fcfcfc;
}

.subject-menu li.last
{
    border-right: none;
}

.subject-menu a
{
    font-size: 13px;
    color: #000;
    text-decoration: none;
    white-space: nowrap;

    padding: 7px 18px !important;
    display: block;
    text-align: center;
    cursor: pointer;
}

.subject-menu .selected > a
{
    font-family: "OpenSans Semibold", sans-serif;
    color: #d35306;
}

.subject-menu a:hover,
.subject-menu a.over
{
    background: #ebebeb;
}

.subject-menu-more-container
{
    position: absolute;
    display: inline-block;
    background: #f4f4f4;
    border: 1px solid #cfcfcf;
}

.subject-menu-more-container ul
{
    list-style: none;
    margin: 0;
}

.subject-menu-more-container ul a
{
    text-align: left;
}

.subject-menu-more-container a:hover
{
    background: #ebebeb;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.main-menu
{
    padding-left: 18px;
    margin-top: 31px;
}

.main-menu a
{
    font-size: 12px;
    color: #3e3e3e;

    padding-left: 16px !important;
    margin-right: 12px;

    background: url("/images/main_menu_item_icon.png") no-repeat;
    background-position: 0 4px;
}

.main-menu .last a
{
    font-size: 12px;
    color: #3e3e3e;

    padding-left: 16px !important;
    padding-right: 0;
    margin-right: 0;

    background: url("/images/main_menu_item_icon.png") no-repeat;
    background-position: 0 4px;
}

button.search-button,
button.search-button:active
{
    display: none;
    height: 32px;
    padding: 6px 8px 7px;
    border-color: #1f89bb;

    background: #2fa1d5;
    background: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #2fa1d5), color-stop(50%, #44a0d3), color-stop(100%, #1784b6));
    background: -webkit-linear-gradient(top, #2fa1d5 0%, #44a0d3 50%, #1784b6 100%);
    background: -moz-linear-gradient(top, #2fa1d5 0%, #44a0d3 50%, #1784b6 100%);
    background: -ms-linear-gradient(top, #2fa1d5 0%, #44a0d3 50%, #1784b6 100%);
    background: -o-linear-gradient(top, #2fa1d5 0%, #44a0d3 50%, #1784b6 100%);
    background: linear-gradient(top, #2fa1d5 0%, #44a0d3 50%, #1784b6 100%);
}

.search-container .search-icon
{
    display: block;
    position: absolute;
    z-index: 3;
    top: 8px;
    left: 10px;
    width: 14px;
    height: 14px;

    background: url("/images/header/search-icon.png") no-repeat;
}

a.btn,
button.btn
{
    font: normal 18px/26px "MyriadPro Bold" !important;
    height: 32px;
    padding: 0 17px !important;
}

a.btn-default,
button.btn-default
{
    color: #6b6868 !important;

    border: 1px solid #bababa;

    background: #ffffff;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eeeff3));
    background: -webkit-linear-gradient(#ffffff, #eeeff3);
    background: -moz-linear-gradient(#ffffff, #eeeff3);
    background: -ms-linear-gradient(#ffffff, #eeeff3);
    background: -o-linear-gradient(#ffffff, #eeeff3);
    background: linear-gradient(#ffffff, #eeeff3);
}

a.btn-primary,
button.btn-primary
{
    color: #ffffff !important;
    border: none;

    background: #2f9cd0;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2f9cd0), to(#228dbf));
    background: -webkit-linear-gradient(#2f9cd0, #228dbf);
    background: -moz-linear-gradient(#2f9cd0, #228dbf);
    background: -ms-linear-gradient(#2f9cd0, #228dbf);
    background: -o-linear-gradient(#2f9cd0, #228dbf);
    background: linear-gradient(#2f9cd0, #228dbf);
}

.form-group
{
    margin-bottom: 16px;
}

div.form-error-field
{
    position: absolute;
    z-index: 3;
    margin-top: -9px;
    margin-left: 280px;
    padding: 5px 10px 9px 32px;
    width: 253px;

    color: #505050;
    font-size: 12px;

    border: 1px solid #f79076;
    border-radius: 3px;
    background-color: #fff9f1;
    background-image: url('/images/popup/error-sign.png');
    background-repeat: no-repeat;
    background-position: 9px 8px;
}

div.form-error-field .arrow
{
    position: absolute;
    top: -9px;
    left: 12px;
    width: 15px;
    height: 9px;
    background: url('/images/popup/form-error-field-arrow.png') no-repeat;
}

.form-control
{
    height: 32px;
    padding: 4px 8px 6px;

    font-family: "OpenSans", "Open Sans", serif;
    font-size: 13px;
    border-color: #aaaaaa;

    border-radius: 4px;
    box-shadow: none;
}

.form-control:focus
{
    border-color: #aaaaaa;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:-moz-placeholder
{
    color: #9b9898;
    font-family: "OpenSans Italic",cursive;
}

.form-control::-moz-placeholder
{
    color: #9b9898;
    font-family: "OpenSans Italic",cursive;
}

.form-control:-ms-input-placeholder
{
    color: #9b9898;
    font-family: "OpenSans Italic",cursive;
}

.form-control::-webkit-input-placeholder
{
    color: #9b9898;
    font-family: "OpenSans Italic",cursive;
}

.form-control::-ms-clear
{
    display: none !important;
}

.form-control.search-input
{
    padding-left: 30px;
    border-color: #c6cfd3;
}

input
{
    border-radius: 4px !important;
}

.search-container
{
    margin-right: 25px;
    width: 299px;
}

.search-container .input-group
{
    width: 100%;
}

.main-menu-right
{
    float: right;
}

.main-menu-right ul
{
    float: right;
    margin-top: 15px;
}

.main-menu-right .navbar-right
{
    margin-right: 0 !important;
}

.search-button-container
{
    width: auto;
}

.user-profile-link
{
    margin-top: 9px;
    padding-right: 9px !important;
    color: #1d1d1d;
    font-size: 13px;
    line-height: 12px !important;
}

.user-profile-link:hover
{
    color: #1d1d1d;
    background: #eef9fe !important;
    text-decoration: underline !important;
}

.user-pic
{
    width: 32px;
    height: 32px;
    border: 1px solid #b5bdc1;
    border-radius: 3px;
}

.login-registration-buttons-container
{
    margin-top: 6px;
}

.login-button,
.login-button-icon,
.login-registration-buttons-delimiter,
.registration-button,
.logout-button,
.logout-button-icon
{
    display: block;
    float: left;
}

.login-button,
.registration-button
{
    color: #036995 !important;
    font-size: 13px;
    font-family: "OpenSans Semibold", sans-serif;
}

.login-button,
.registration-button,
.logout-button
{
    background: #eef9fe !important;
}

.login-button:hover,
.registration-button:hover
{
    text-decoration: underline !important;
}

.login-button-icon
{
    margin-right: 5px;
    margin-top: 2px;
    width: 14px;
    height: 14px;
    background: url('/images/header/login-button-icon.png') no-repeat;
}

.login-registration-buttons-delimiter
{
    margin: 0 5px;
    width: 2px;
    height: 20px;
    background: url('/images/header/login-registration-buttons-delimiter.png') no-repeat;
}

.logout-button
{
    margin-top: 5px;
    padding-right: 0 !important;
    font-size: 13px;
    color: #555;
}

.logout-button-icon
{
    margin-right: 5px;
    margin-top: 4px;
    width: 15px;
    height: 13px;
    background: url('/images/header/logout-button-icon.png') no-repeat;
}

.new-user-badge-link
{
    width: 30px;
    height: 30px;
    margin-right: 10px;

    background: url('/images/header/new_badge_icon.jpg');
}

label
{
    color: #2a2a2a;
    font-size: 12px;
    font-family: "OpenSans Semibold", sans-serif;
}

.container,
.class-menu,
.subject-menu
{
    width: 1000px;
}

.class-menu,
.subject-menu
{
    margin-right: auto;
    margin-left: auto;
}

* + html .class-menu .nav-justified > li
{
    width: 9% !important;
    float: left !important;
}

* + html .subject-menu .nav-justified > li
{
    width: 15% !important;
    float: left !important;
}

*+html ul.nav.navbar-nav.main-menu
{
    margin-top: 31px !important;
    width: 100% !important;
}

.go-up, .go-down
{
    z-index: 9999;
    background: #4F4F4F;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;

    color: #fff;
    font: normal normal 42px/42px sans-serif;
    text-shadow: 0 1px 2px #000;
    text-align: center;

    opacity: 0.1;
    padding: 3px 0;
    margin-bottom: 5px;

    display: none;
    width: 4%;
    min-width: 25px;
    height: 100%;

    position: fixed;
    left: 0;
    top: 0;
}

.go-down:hover,
.go-up:hover
{
    opacity: 0.4;
    box-shadow: 0 5px 0.5em -1px #666;
}

.add-video-link
{
    display: inline-block;
    padding-top: 15px;
    width: 100px;
    height: 75px;
    background: #dbdbdb;
    border: 1px solid #868686;

    text-align: center;
}

/* Footer block BEGIN */
.footer-container
{
    position: relative;
    padding-top: 18px;
    height: 54px;
    color: #c9c8c8;
}

.footer-container a,
.footer-copyright-container span
{
    display: block;
    color: #d1dfe6;
    font-size: 13px;
    font-family: "OpenSans", "Open Sans", sans-serif;
    text-decoration: none;
}

.footer-container a:hover
{
    color: #fff;
}

.footer-logo
{
    background: url('/images/footer/footer-logo.png') no-repeat;
    height: 40px;
}

.footer-social-buttons-block,
.footer-links-block,
.footer-copyright-container
{
    display: inline-block;
}

.footer-social-buttons-block
{
    float: left;
    margin-left: 23px;
    margin-right: 109px;
    width: 104px;
}

.footer-social-buttons-text
{
    display: block;
    text-align: right;
}

.footer-social-button
{
    float: left;
    margin-right: 6px;
}

.footer-social-button a
{
    width: 20px;
    height: 20px;
}

.footer-copyright-container
{
    float: right;
    margin-right: 23px;
}

.footer-link
{
    float: left;
    margin-right: 44px;
}

.footer-vk
{
    background: url('/images/footer/footer-vk.png') no-repeat;
}

.footer-vk:hover
{
    background: url('/images/footer/footer-vk-over.png') no-repeat;
}

.footer-facebook
{
    background: url('/images/footer/footer-facebook.png') no-repeat;
}

.footer-facebook:hover
{
    background: url('/images/footer/footer-facebook-over.png') no-repeat;
}

.footer-twitter
{
    background: url('/images/footer/footer-twitter.png') no-repeat;
}

.footer-twitter:hover
{
    background: url('/images/footer/footer-twitter-over.png') no-repeat;
}

.footer-odnoklassniki
{
    background: url('/images/footer/footer-odnoklassniki.png') no-repeat;
}

.footer-odnoklassniki:hover
{
    background: url('/images/footer/footer-odnoklassniki-over.png') no-repeat;
}

.footer-horizontal-bar
{
    position: absolute;
    left: 0;
    bottom: 52px;
    width: 100%;
    height: 1px;
    background: #5690b7;
}
/* Footer block END */

.static-page-container
{
    padding: 0 18px 18px;
}

.static-page-container h3
{
    margin-top: 0;
}
