/* Magnific Popup CSS */
.mfp-bg
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.18;
    filter: alpha(opacity=18);
}

.mfp-wrap
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container
{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mfp-container:before
{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before
{
    display: none;
}

.mfp-content
{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content
{
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur
{
    cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close
{
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom
{
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content
{
    cursor: auto;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter
{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure
{
    display: none;
}

.mfp-hide
{
    display: none !important;
}

.mfp-preloader
{
    color: #cccccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-preloader a
{
    color: #cccccc;
}

.mfp-preloader a:hover
{
    color: white;
}

.mfp-s-ready .mfp-preloader
{
    display: none;
}

.mfp-s-error .mfp-content
{
    display: none;
}

button.mfp-close, button.mfp-arrow
{
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button::-moz-focus-inner
{
    padding: 0;
    border: 0;
}

.mfp-close
{
    width: 24px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: white;
    font-style: normal;
    font-size: 18px;
    font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover, .mfp-close:focus
{
    opacity: 1;
}

.mfp-close:active
{
    top: 1px;
}

.mfp-close-btn-in .mfp-close
{
    color: #333333;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close
{
    color: white;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.mfp-counter
{
    position: absolute;
    top: 0;
    right: 0;
    color: #cccccc;
    font-size: 12px;
    line-height: 18px;
}

.mfp-arrow
{
    position: absolute;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mfp-arrow:active
{
    margin-top: -54px;
}

.mfp-arrow:hover, .mfp-arrow:focus
{
    opacity: 1;
}

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a
{
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

.mfp-arrow:after, .mfp-arrow .mfp-a
{
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

.mfp-arrow:before, .mfp-arrow .mfp-b
{
    border-top-width: 21px;
    border-bottom-width: 21px;
}

.mfp-arrow-left
{
    left: 0;
}

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a
{
    border-right: 17px solid white;
    margin-left: 31px;
}

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b
{
    margin-left: 25px;
    border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right
{
    right: 0;
}

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a
{
    border-left: 17px solid white;
    margin-left: 39px;
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b
{
    border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder
{
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content
{
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close
{
    top: -40px;
}

.mfp-iframe-scaler
{
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe
{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black;
}

/* Main image in popup */
img.mfp-img
{
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure
{
    line-height: 0;
}

.mfp-figure:after
{
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444444;
}

.mfp-figure small
{
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-bottom-bar
{
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title
{
    text-align: left;
    line-height: 18px;
    color: #f3f3f3;
    word-wrap: break-word;
    padding-right: 36px;
}

.mfp-image-holder .mfp-content
{
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure
{
    cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px)
{
    /**
         * Remove all paddings around the image on small screen
         */
    .mfp-img-mobile .mfp-image-holder
    {
        padding-left: 0;
        padding-right: 0;
    }

    .mfp-img-mobile img.mfp-img
    {
        padding: 0;
    }

    .mfp-img-mobile .mfp-figure
    {
        /* The shadow behind the image */
    }

    .mfp-img-mobile .mfp-figure:after
    {
        top: 0;
        bottom: 0;
    }

    .mfp-img-mobile .mfp-figure small
    {
        display: inline;
        margin-left: 5px;
    }

    .mfp-img-mobile .mfp-bottom-bar
    {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .mfp-img-mobile .mfp-bottom-bar:empty
    {
        padding: 0;
    }

    .mfp-img-mobile .mfp-counter
    {
        right: 5px;
        top: 3px;
    }

    .mfp-img-mobile .mfp-close
    {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }
}

@media all and (max-width: 900px)
{
    .mfp-arrow
    {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    .mfp-arrow-left
    {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }

    .mfp-arrow-right
    {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }

    .mfp-container
    {
        padding-left: 6px;
        padding-right: 6px;
    }
}

.mfp-ie7 .mfp-img
{
    padding: 0;
}

.mfp-ie7 .mfp-bottom-bar
{
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.mfp-ie7 .mfp-container
{
    padding: 0;
}

.mfp-ie7 .mfp-content
{
    padding-top: 44px;
}

.mfp-ie7 .mfp-close
{
    top: 0;
    right: 0;
    padding-top: 0;
}

/* Znaika Login Popup*/

.popup
{
    position: relative;
    background: #ffffff;
    width: auto;
    max-width: 583px;
    margin: 20px auto;
    border-radius: 4px;
    box-shadow: 0 0 8px #000000;
}

.popup .active-button-label,
.popup .semi-active-button-label
{
    padding-left: 0;
}

.login-popup-content
{
    width: 583px;
}

.login-popup-container
{
    width: auto;
}

.login-popup-content .form-container
{
    float: left;
    padding: 25px 0 22px;
    width: 379px;
}

.forget-password-form-container
{
    padding-bottom: 32px;
}

.login-popup-content a
{
    color: #1570af;
}

.login-popup-header
{
    padding: 0 0 25px 85px;
}

.login-popup-content h3
{
    color: #222;
    font-size: 20px;
    font-family: "OpenSans Semibold",sans-serif;

    margin: 0;
    display: inline-block;
}

.login-popup-content .right-link
{
    margin-top: 2px;
    float: right;

    color: #036995;
    font-size: 14px;
    font-family: "OpenSans Semibold",sans-serif;
    text-decoration: underline;
}

.login-form label,
.registration-form label,
.forget-password-form label
{
    display: table-cell;
    text-align: right;

    padding-right: 7px;

    width: 85px;

    font-weight: normal;
    font-size: 13px;
    font-family: "OpenSans Semibold",sans-serif;
}

.get-new-password-form label
{
    display: table-cell;
    text-align: right;

    padding-right: 4px;

    width: 103px;
}

.login-button-container,
.registration-button-container,
.forget-password-button-container
{
    padding-left: 85px;
}

.recover-button-container
{
    padding-left: 103px;
}

.login-form .form-group,
.registration-form .form-group,
.forget-password-form .form-group,
.get-new-password-form .form-group
{
    width: 100%;
}

.login-form
.agreement-block,
.remember-me-block
{
    margin-top: -6px;
    padding-left: 85px;
    margin-bottom: 18px;
}

.agreement-block input,
.remember-me-block input
{
    float: left;
    margin-right: 6px;
}

.remember-me-block label
{
    padding-top: 2px;
}

.remember-me-block .icheckbox
{
    display: block;
    float: left;
    margin-top: 2px;
    margin-right: 3px;
}

.remember-me-block .forget-password-link
{
    float: right;
    margin-top: -18px;
    font-size: 12px;
    font-family: "OpenSans",serif;
}

.agreement-block
{
    margin-top: -9px;
    margin-bottom: 11px;
    padding-left: 85px;

    line-height: 13px;
}

.agreement-block span
{
    display: inline;
    position: relative;
    top: 2px;
    width: auto;

    font-size: 11px;
    font-family: "OpenSans",serif;
}

.agreement-block span a
{
    color: #036995;
    text-decoration: none;
}

.remember-me-block label
{
    padding-left: 2px;
    width: auto;
    font-size: 12px;
    font-family: "OpenSans",serif;
}

.login-popup-left-column
{
    padding-right: 32px;
    padding-bottom: 16px;
    background: url("/images/popup/login-form-border.png") repeat-y 100% 0;
}

.login-popup-content .social-login-buttons-container
{
    float: right;
    padding: 25px 32px 0 30px;
    width: 204px;
}

.login-popup-content .social-login-buttons-container a
{
    text-decoration: none;
}

.login-popup-content .social-login-buttons-container div
{
    padding-bottom: 15px;
}

.login-popup-content .social-login-buttons-container span
{
    position: relative;
    left: 4px;
    top: 1px;

    color: #fff;
    font-size: 12px;
    font-family: "OpenSans Semibold",sans-serif;
}

.login-popup-content .social-login-buttons-container h5
{
    margin-top: 15px;
    margin-bottom: 15px;

    color: #313030;
    font-size: 16px;
    font-family: "OpenSans Semibold",sans-serif;
    text-align: center;
}

.vk-login,
.facebook-login,
.odnoklassniki-login
{
    display: block;
    width: 142px;
    height: 33px;
}

.vk-login
{
    background: url('/images/popup/vk-login-button.png') no-repeat;
}

.facebook-login
{
    background: url('/images/popup/facebook-login-button.png') no-repeat;
}

.odnoklassniki-login
{
    background: url('/images/popup/odnoklassniki-login-button.png') no-repeat;
}

.vk-login:hover
{
    background: url('/images/popup/vk-login-button-over.png') no-repeat;
}

.facebook-login:hover
{
    background: url('/images/popup/facebook-login-button-over.png') no-repeat;
}

.odnoklassniki-login:hover
{
    background: url('/images/popup/odnoklassniki-login-button-over.png') no-repeat;
}

.input-group .password-input
{
    padding-right: 30px;
}

.registration-success-message
{
    padding: 40px 50px;
}

.show-password-button-container
{
    position: relative;
}

.show-password-button-container .show-password-icon
{
    display: inline-block;
    cursor: pointer;
    width: 23px;
    height: 32px;

    position: absolute;
    right: 0;
    top: 0;

    background: url('/images/popup/show-password-icon-opened.png') no-repeat 0 11px;
}

.show-password-button-container .show-password-icon.opened
{
    background: url('/images/popup/show-password-icon.png') no-repeat 0 10px;
}

/* Additional forms styles BEGIN */
.additional-form-container
{
    padding: 33px 51px 42px;
}

.additional-form-header,
.additional-form-container h5
{
    text-align: center;
}

.additional-form-header h3
{
    display: inline-block;
    margin-bottom: 20px;
    padding-left: 41px;
    height: 32px;

    color: #222;
    font-size: 20px;
    font-family: "OpenSans Semibold",sans-serif;
}

.additional-form-container h5
{
    margin: 15px 0;

    font-family: "OpenSans",serif;
}

.additional-form-header-horizontal-bar
{
    width: 100%;
    height: 1px;
    background: url('/images/popup/additional-form-header-horizontal-bar.png') repeat-x;
}

.additional-form
{
    width: 374px;
}

.additional-form label
{
    display: table-cell;
    padding-right: 7px;
    width: 113px;

    text-align: right;
    font-family: "OpenSans Semibold",sans-serif;
    font-weight: normal;
}

.additional-form .form-group
{
    width: 100%;
}

.additional-form-button-container,
.account-linkage-form-container .forget-password-link,
.account-creation-form-container .agreement-block,
.account-creation-form-container .registration-button-container
{
    padding-left: 113px;
}

.recover-password-request-header h3
{
    background: url('/images/popup/password-form-header-icon.png') no-repeat 7px 0;
}

.registration-successful-header h3
{
    background: url('/images/popup/registration-successful-header-icon.png') no-repeat 7px 0;
}

.login-form-header h3
{
    margin-top: 0;
    line-height: 1.6;
    background: url('/images/popup/login-form-header-icon.png') no-repeat 3px 0;
}

.account-linkage-form-header h3
{
    margin-top: 0;
    background: url('/images/popup/account-linkage-form-header-icon.png') no-repeat 7px 0;
}

.logination-check-container h5
{
    margin: 18px 0;
}

.newuser-button-container,
.have-account-button-container
{
    float: left;
    height: 35px;
    width: 200px;
}

.newuser-button-container
{
    margin-left: 26px;
}

.have-account-button-container
{
    margin-left: 21px;
}

.have-account-button,
.newuser-button
{
    padding-top: 5px;
    text-align: center;
}

.get-new-password-form-container
{
    width: 583px;
}

.account-linkage-form-container .forget-password-link
{
    display: block;
    margin-bottom: 10px;
    margin-top: -10px;

    color: #036995;
    font-size: 12px;
    text-decoration: underline;
}

.account-creation-form-container h5
{
    padding: 0 25px;
}
/* Additional forms styles END */