<h3>Разделы</h3>
{% if is_moderator() %}
  <div class="moderator-buttons-block">
    <a class="semi-active-button add-chapter-button" href="javascript:void(0);">
      <span class="add-chapter-button-icon"></span>
      <span class="add-chapter-button-label">Добавить раздел</span>
    </a>
    <a class="semi-active-button edit-chapter-button" href="javascript:void(0);">
      <span class="edit-chapter-button-icon"></span>
      <span class="edit-chapter-button-label">Редактировать раздел</span>
    </a>
    <a class="semi-active-button save-changes-button disabled" href="javascript:void(0);">
      <span class="save-changes-button-icon"></span>
      <span class="save-changes-button-label">Сохранить изменения</span>
    </a>
    <a class="semi-active-button chapter-down" href="javascript:void(0);">
      <span class="chapter-down-icon"></span>
    </a>
    <a class="semi-active-button chapter-up disabled" href="javascript:void(0);">
      <span class="chapter-up-icon"></span>
    </a>
  </div>
  <div class="clear"></div>
{% endif %}
{% if not chapters is empty %}
  <div class="chapters-list">
    <div class="chapters-list-vertical-line"></div>
    {% for chapter in chapters %}
      <div class="chapter-description-container{% if currentChapterId == chapter.getChapterId %} selected{% endif %}">
        <div class="chapter-list-marker">&nbsp;</div>
        <a href="javascript:void(0);" title="{{ chapter.getName|raw }}" id="show_chapter_{{ chapter.getChapterId }}">
          {{ chapter.getName|raw }}
        </a>
        <div class="chapter-selected-item-arrow"></div>
      </div>
      <div class="clear"></div>
    {% endfor %}
  </div>
{% else %}
  <h1>Пока что пусто</h1>
{% endif %}
