{% if not chapters is empty %}
  {% for chapter in chapters %}
    <div class="chapter-description-container{% if currentChapterId == chapter.getChapterId %} selected{% endif %}">
      <a href="javascript:void(0);" title="{{ chapter.getName|raw }}" id="show_chapter_{{ chapter.getChapterId }}">
        {{ chapter.getName|raw }}
      </a>
    </div>
  {% endfor %}
{% else %}
  <h1>Пока что пусто</h1>
{% endif %}