<div class="comments-container">
  {% if not video.getVideoComments is empty %}
    {% if video.getVideoComments|length > constant('Znaika\\FrontendBundle\\Controller\\VideoController::COMMENTS_LIMIT_ON_SHOW_VIDEO_PAGE') %}
      <a href="javascript:void(0);" id="showPrevCommentsLink" class="alert alert-info show-more-comments">
        {{ 'show_prev_comments'|transchoice(video.getVideoComments|length - constant('Znaika\\FrontendBundle\\Controller\\VideoController::COMMENTS_LIMIT_ON_SHOW_VIDEO_PAGE')) }}
      </a>
      <input type="hidden" id="showPrevCommentsUrl" value="{{ path('get_prev_comments', {'videoName': video.getUrlName}) }}"/>
      <div id="prevCommentsContainer" class="prev-comments-container"></div>
    {% endif %}
    {% include "ZnaikaFrontendBundle:Video:video_comments.html.twig" with {'comments': comments} %}
  {% endif %}
  {% if has_question_for_current_user(video) %}
    {{ video_questions_block(video)|raw }}
  {% elseif is_user() %}
    {% include "ZnaikaFrontendBundle:Video:add_video_comment_form.html.twig" with {'form': addVideoCommentForm, "video": video} %}
  {% else %}
    <span>Только зарегистрированные и авторизованные пользователи могут оставлять комментарии</span>
  {% endif %}
</div>