{% if video.getSynopsis %}
  <a href="javascript:void(0);" class="btn btn-primary">
    Показать конспект
  </a>
{% elseif is_moderator() %}
  <a id="addSynopsis" href="{{ path('add_synopsis_form', {'videoName': video.getUrlName}) }}" class="btn btn-primary">
    Добавить конспект
  </a>
{% endif %}