{% if not video.getVideoComments is empty %}
  <h3>Комментарии</h3>
  {% if video.getVideoComments|length > constant('Znaika\\FrontendBundle\\Controller\\VideoController::COMMENTS_LIMIT_ON_SHOW_VIDEO_PAGE') %}
    <div class="alert alert-info">
      <a href="javascript:void(0);" id="showPrevCommentsLink">
        {{ 'show_prev_comments'|transchoice(video.getVideoComments|length - constant('Znaika\\FrontendBundle\\Controller\\VideoController::COMMENTS_LIMIT_ON_SHOW_VIDEO_PAGE')) }}
      </a>
      <input type="hidden" id="showPrevCommentsUrl" value="{{ path('get_prev_comments', {'videoName': video.getUrlName}) }}"/>
    </div>
    <div id="prevCommentsContainer"></div>
  {% endif %}
  {% include "ZnaikaFrontendBundle:Video:video_comments.html.twig" with {'comments': comments} %}
{% endif %}
{% if is_user() %}
  {% include "ZnaikaFrontendBundle:Video:add_video_comment_form.html.twig" with {'form': addVideoCommentForm, "videoName": video.getUrlName} %}
{% else %}
  <span>Только зарегистрированные и авторизованные пользователи могут оставлять комментарии</span>
{% endif %}