{% if video.getSynopsis %}
  {% if is_moderator() %}
    <a class="semi-active-button edit-button" href="{{ path('add_synopsis_form', {'videoName': video.getUrlName}) }}">
      <span class="semi-active-button-label">Редактировать конспект</span>
    </a>
    <div class="clear"></div>
  {% endif %}
  {{ show_synopsis(video)|raw }}
{% elseif is_moderator() %}
  <a id="addSynopsis" href="{{ path('add_synopsis_form', {'videoName': video.getUrlName}) }}" class="active-button add-button">
    <span class="active-button-label">Добавить конспект</span>
  </a>
{% else %}
  <div class="quiz-under-construction">
    <h3>Конспект находится в разработке</h3>
    <h4>Попробуйте зайти позже</h4>
  </div>
{% endif %}