{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block content %}
  {% if isValidClass %}
    <h1>Вы в {{ class }} классе</h1>
  {% endif %}
  {% if subject %}
    <h2>Вам интересен предмет - {{ subject.getName }}</h2>
  {% endif %}
{% endblock %}
