<div class="catalogue-filters-container">
  <div class="col-xs-12 col-sm-4 col-left">
    <select id="classFilter" class="form-control">
      <option value="">Все классы</option>
      {% for classNumber in classes %}
        <option value="{{ classNumber }}" {% if classNumber == currentClass %}selected="selected"{% endif %}>
          {{ classNumber }} класс
        </option>
      {% endfor %}
    </select>
  </div>
  <div class="col-xs-12 col-sm-4 col-left">
    <select id="subjectFilter" class="form-control">
      <option value="">Все предметы</option>
      {% for subject in subjects %}
        <option value="{{ subject.getUrlName }}" {% if subject.getUrlName == currentSubjectName %}selected="selected"{% endif %}>
          {{ subject.getName }}
        </option>
      {% endfor %}
    </select>
  </div>
  <div class="col-xs-12 col-sm-4 col-left">
    <button id="filterUpdateButton" type="button" class="btn btn-default">Найти</button>
  </div>
  <div class="clear"></div>
</div>