<ul class="media-list">
  {% for comment in comments %}
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object" width="60" height="60" src="{{ asset('images/404.jpg') }}" alt="Здесь будет аватар автора"/>
      </a>
      <div class="media-body">
        {{ comment_title(comment)|raw }}
        <span class="comment-body">{{ comment.getText }}</span>
        <h6 class="media-heading comment-date">{{ comment_date(comment.getCreatedTime) }}</h6>
      </div>
    </li>
  {% endfor %}
</ul>