Администрацией сайта заблокирована возможность создания Вами комментариев к видеоурокам.<br/>
Причина: нарушение положений <a href="{{ path('rules') }}" title="">Пользовательского соглашения</a> при комментировании видеоурока.<br/>
До снятия блокировки осталось {{ comment_ban_remaining_time(user) }}.<br/>
Убедительно просим Вас в дальнейшем не нарушать положений <a href="{{ path('rules') }}" title="">Пользовательского соглашения.</a><br/>