.chapter-videos-block-container
{
    margin: -20px 0;
    padding: 20px 18px;
    border-left: 1px solid #ccc;
}

.chapter-video-preview-container,
.chapter-video-preview-container a
{
    display: block;
}

.over-elements-container
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.over-play-sign
{
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    width: 38px;
    height: 25px;
    background: url('/images/video/video-preview-over.png') no-repeat;
}

.over-video-length
{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;

    color: #fff;
    font-family: "Arial";
    font-weight: bold;
    font-size: 10px;
    background: url('/images/video/video-length-background.png') repeat-x;
}

.chapter-selected-video
{
    position: relative;
    right: 2px;
}

.chapter-name
{
    margin-bottom: 15px;
    color: #303030;
    font-size: 15px;
    font-family: "OpenSans Semibold";
}

.chapter-videos-block-container h5
{
    margin-bottom: 15px;
    color: #262626;
    font-size: 15px;
}

.video-title
{
    margin-top: -1px;
    margin-bottom: 5px;
    color: #222;
    font-size: 12px;
    font-family: "OpenSans Semibold";
    cursor: pointer;
}

.video-title.over
{
    text-decoration: underline;
}

.video-author-in-list
{
    margin-bottom: 5px;
    color: #666;
    font-size: 11px;
}

.video-has-quiz,
.video-has-synopsis,
.icons-delimiter
{
    display: block;
    float: left;
}

.video-has-synopsis
{
    margin-top: 2px;
    width: 9px;
    height: 8px;
    background: url('/images/video/video-has-synopsis-icon.png') no-repeat;
}

.video-has-synopsis:hover
{
    background: url('/images/video/video-has-synopsis-icon-over.png') no-repeat;
}

.icons-delimiter
{
    margin-left: 5px;
    margin-right: 6px;
    width: 1px;
    height: 11px;
    background: #f0f0f0;
}

.video-has-quiz
{
    width: 12px;
    height: 12px;
    background: url('/images/video/video-has-quiz-icon.png') no-repeat;
}

.video-has-quiz:hover
{
    background: url('/images/video/video-has-quiz-icon-over.png') no-repeat;
}

.chapter-videos-list
{
    list-style-type: none;
}

.chapter-videos-list > li
{
    margin-bottom: 19px;
}