ul
{
    list-style: none;
}

.tabs-menu
{
    margin-top: 1px;
}

a.class-subject-link
{
    color: #283e97;
}

.menu-container .caret
{
    border-top: 4px solid #606060;
}

li.class-subject-tab
{
    float: left;
    margin: 5px 20px 5px 0;
    height: 35px;
}

.all-subjects-list,
.grades-list,
.all-subjects-list ul,
.subject-lists-container
{
    border: 1px solid #ccc;
}

.all-subjects-list,
.grades-list,
.subject-lists-container
{
    display: none;
    position: absolute;
    z-index: 1;
}

.all-subjects-list,
.grades-list,
.subject-lists-container,
.grades-in-subjects
{
    background: #fff;
}
.subject-lists-container
{
    width: 388px;
    left: 93px;
    top: -6px;
}

.grades-list
{
    position: absolute;
    float: left;
    left: 15px;
    top: 58px;
    width: 95px;
}

.all-subjects-list li,
.grades-list li
{
    position: relative;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 3px;
}

.grades-list li
{
    padding: 5px 15px 5px 19px;
}

.grades-list li.first
{
    margin-top: 5px;
}

.grades-list li.last
{
    margin-bottom: 5px;
}

.all-subjects-list-item
{
    /*margin: 0 14px;*/
    padding: 9px 20px 3px 45px;
}

.all-subjects-list
{
    left: 96px;
    position: absolute;
    top: 58px;
}

.subjects-list
{
    float: left;
    padding: 5px 10px;
    border-left: none;
}

.class-subject-tab a:hover,
.all-subjects-list a:hover,
.subjects-list a:hover ,
.grades-list a:hover,
.subject-lists-container a:hover,
.grades-in-subjects a:hover,
a.class-subject-link.selected,
.selected
{
    color: #da4a07;
}

.all-subjects-list a,
.subjects-list a,
.grades-list a,
.subject-lists-container a,
.grades-in-subjects a,
{
    color: #29292b;
}

.grades-in-subjects
{
    display: none;

    left: 190px;
    position: absolute;
    top: -1px;
    width: 95px;
}

.grades-in-subjects li
{
    padding: 5px 15px 5px 19px;
}

.search-container
{
    margin-top: 27px;
}

.search-container .input-group
{
    width: 50%;
}

.form-control.search-input
{
    width: 100%;
    border: 1px solid #a8a8a8;
    border-radius: 3px !important;
    padding-left: 27px;
    background-color: #fff;
}

.search-field-icon
{
    position: absolute;
    top: 33px;
    left: 208px;
    width: 18px;
    height: 19px;
    z-index: 1;
    background: url('/images/header/main-menu/search-field-icon.png') no-repeat;
}

.search-button-containter
{
    display: none;
}

ul.subjects-list.left li,
ul.subjects-list li
{
    padding-left: 30px;
}

.algebra
{
    background: url('/images/header/main-menu/algebra.png') no-repeat;
}

.biology
{
    background: url('/images/header/main-menu/biology.png') no-repeat;
}

.chemistry
{
    background: url('/images/header/main-menu/chemistry.png') no-repeat;
}

.chtenie
{
    background: url('/images/header/main-menu/chtenie.png') no-repeat;
}

.english
{
    background: url('/images/header/main-menu/english.png') no-repeat;
}

.geografy
{
    background: url('/images/header/main-menu/geografy.png') no-repeat;
}

.geometry
{
    background: url('/images/header/main-menu/geometry.png') no-repeat;
}

.informatika
{
    background: url('/images/header/main-menu/informatika.png') no-repeat;
}

.literatura
{
    background: url('/images/header/main-menu/literatura.png') no-repeat;
}

.matematika
{
    background: url('/images/header/main-menu/matematika.png') no-repeat;
}

.obshestvoznanie
{
    background: url('/images/header/main-menu/obshestvoznanie.png') no-repeat;
}

.obzh
{
    background: url('/images/header/main-menu/obzh.png') no-repeat;
}

.okruj-mir
{
    background: url('/images/header/main-menu/okruj-mir.png') no-repeat;
}

.physics
{
    background: url('/images/header/main-menu/physics.png') no-repeat;
}

.prirodovedenie
{
    background: url('/images/header/main-menu/prirodovedenie.png') no-repeat;
}

.russian
{
    background: url('/images/header/main-menu/russian.png') no-repeat;
}

.all-subjects-list-item
{
    background-position: 15px 5px;
}

.all-subjects-list-item.first
{
    margin-top: 0;
}

.all-subjects-list-item.last
{
    margin-bottom: 10px;
}

.grades-in-subjects-list-item.first
{
    margin-top: 5px;
}

.grades-in-subjects-list-item.last
{
    margin-bottom: 5px;
}