{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block content %}
  <div class="static-page-container">
    <h3>О проекте</h3>
    <p>
      Уважаемые родители и учителя, младшие и старшие школьники. Вашему вниманию предлагается уникальный образовательный
      портал <strong>Знайка.ру</strong>. Проект дает возможность каждому желающему абсолютно бесплатно обратиться к любому уроку школьной
      программы и получить интересующие знания в максимально понятном, доступном и актуальном виде. Все видеоуроки
      адаптированы для комфортного и полного восприятия школьниками. Портал <strong>Знайка.ру</strong> создан в помощь школьникам,
      которые хотят понять интересующую их тему; родителям, желающим помочь в изучении уроков детям; и учителям как
      дополнительный ресурс, который можно использовать в образовательном процессе.
    </p>
    <p>
      <strong>Знайка.ру</strong> – это библиотека авторских видеоуроков телевизионного качества в формате FULL HD, бережно созданная
      опытной командой педагогов, методистов, психологов и телевизионных специалистов.
    </p>
    <p>
      <strong>Знайка.ру</strong> – проверенные знания на дом!
    </p>
    <div class="column to-pupil">
      <h4>Школьнику</h4>
      <p>
        Знайка.ру - Первая интересная школа. Без пробелов. Без прогулов. Без двоек. Школа у тебя дома.
      </p>
    </div>
    <div class="column to-parent">
      <h4>Родителю</h4>
      <p>
        Смотрите вместе, учитесь лучше. Знайка.ру – обучение для всей семьи. Вспомни сам, помоги ребенку.
      </p>
    </div>
    <div class="column to-teacher right">
      <h4>Учителю</h4>
      <p>
        Смотри. Участвуй. Используй. Вся школьная программа для ежедневной работы. Рекомендовано профессиональным
        сообществом педагогов.
      </p>
    </div>
  </div>
{% endblock %}