{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block content %}
  <div class="static-page-container">
    <h3>О проекте</h3>
    <p>
      Уважаемые родители и учителя, младшие и старшие школьники. Вашему вниманию предлагается уникальный образовательный
      портал ЗНАЙКА.РУ. Проект дает возможность каждому желающему абсолютно бесплатно обратиться к любому уроку школьной
      программы и получить интересующие знания в максимально понятном, доступном и актуальном виде. Все видеоуроки
      адаптированы для комфортного и полного восприятия школьниками. Портал ЗНАЙКА.РУ создан в помощь школьникам,
      которые хотят понять интересующую их тему; родителям, желающим помочь в изучении уроков детям; и учителям как
      дополнительный ресурс, который можно использовать в образовательном процессе.
    </p>
    <p>
      ЗНАЙКА.РУ – это библиотека авторских видеоуроков телевизионного качества в формате FULL HD, бережно созданная
      опытной командой педагогов, методистов, психологов и телевизионных специалистов.
    </p>
    <p>
      <h4>РОДИТЕЛЮ</h4>
      Смотрите вместе, учитесь лучше. Знайка.ру – обучение для всей семьи. Вспомни сам, помоги ребенку.
    </p>
    <p>
      <h4>УЧИТЕЛЮ</h4>
      Смотри. Участвуй. Используй. Вся школьная программа для ежедневной работы. Рекомендовано профессиональным
      сообществом педагогов.
    </p>
    <p>
      <h4>ШКОЛЬНИКУ</h4>
      Знайка.ру - Первая интересная школа. Без пробелов. Без прогулов. Без двоек. Школа у тебя дома.
    </p>
    <p>
      <h4>ВСЕМ</h4>
      Знайка - проверенные знания на дом!
    </p>
  </div>
{% endblock %}