{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets '@ZnaikaFrontendBundle/Resources/public/css/index.css' %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block content %}
  <div class="index-content">
    <div class="index-top-videos-block">
      <div class="index-page-videos-list-container">
        <div class="">
          <div class="index-page-videos-list">
            {{ popular_video()|raw }}
          </div>
        </div>
        <div class="">
          <div class="index-page-videos-list">
            {{ newest_video()|raw }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}