{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block content %}
  <div class="col-xs-12 col_center">
    <img src="{{ asset('images/index_background_dummy.jpg') }}" alt="Заглушка" />
  </div>
{% endblock %}