<div class="rating-newest-operations col_left col-lg-4 col-xs-12">
  <h2>Зарабатывай баллы!</h2>
  <h5>
    Смотри видео, выполняй тестовые задания
    и зарабатывай больше баллов. Больше!
  </h5>
  {% if userOperations %}
    {% for userOperation in userOperations %}
      <div class="operations-rating-list-item">
        <div class="user-photo"></div>
        <div class="acquired-points">
          <h4>+{{ userOperation.getAccruedPoints }} знаков</h4>
        </div>
        <div class="username">
          {{ userOperation.user }}
        </div>
      </div>
      <div class="clear"></div>
      <div class="delimiter"></div>
    {% endfor %}
  {% else %}
    <h5>Не найдено</h5>
  {% endif %}
</div>