{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts filter='?yui_js'
    '../app/Resources/public/js/classes/PageUpDownScroller.class.js'
  %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
  <div class="static-page-container">
  <h3>Соглашение об использовании Знайка.Ру</h3>

  <div>
    <div>
      <h4 class="license-chapter-name">Термины:</h4>
      <p class="license-paragraph">
        <span class="license-item">1.</span> Веб - сайт «Знайка.ру», далее «сайт» – программное средство, позволяющее хранить, систематизировать и
        транслировать содержание видеоматериалов и видеоуроков научно-образовательного характера и соответствующих
        стандартам общего образования РФ с размещением их в свободном доступе.
      </p>
      <p class="license-paragraph">
        <span class="license-item">2.</span> Содержание сайта – любые текстовые и графические материалы, документы, изображения, схемы, аудио-, видео- и
        любая другая информация размещенная на сайте.
      </p>
      <p class="license-paragraph">
        <span class="license-item">3.</span> Администрация сайта – Общество с ограниченной ответственностью «Знайка» 424006, Россия, Республика Мари Эл,
        г. Йошкар-Ола, ул. 70-лет Вооруженных Сил СССР, д.20 эт.10, ИНН 1215175193, КПП 121501001, ОГРН 1131215006471.
        О смене реквизитов Администрация информирует Пользователя путем внесения изменений в настоящее Соглашение.
      </p>
      <p class="license-paragraph">
        <span class="license-item">4.</span> Пользователь сайта – физическое лицо, согласившееся с условиями данного Соглашения от своего имени, от своего
        имени с согласия своего родителя/законного представителя или от имени несовершеннолетнего, родителем и/или
        законным представителем которого он является.
      </p>
      <p class="license-paragraph">
        <span class="license-item">5.</span> Соглашение - текст настоящего Пользовательского Соглашения между Пользователем и Администрацией, содержащий
        все необходимые и существенные условия предоставления доступа на сайт, условия использования Пользователем.
      </p>
      <p class="license-paragraph">
        <span class="license-item">6.</span> Действующая редакция Соглашения постоянно размещена по адресу: {{ url("rules") }}. Администрация
        оставляет за собой право изменять или дополнять настоящее Соглашение в любой момент без предварительного или
        последующего уведомления. Пользователь самостоятельно отслеживает изменения Соглашения и знакомится с
        действующей редакцией соглашения. Продолжение использования сайта Пользователем после внесения изменений и/или
        дополнений в настоящее Соглашение означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.
      </p>

      <h4 class="license-chapter-name">Основные положения:</h4>

      <p class="license-paragraph">
        <span class="license-item">7.</span> Услуги сайта предоставляются только для целей личного некоммерческого использования, если иное не указано
        прямо. Пользователю предоставляется возможность доступа к имеющимся на сайте ресурсам исключительно в
        ознакомительных и образовательных целях.
      </p>
      <p class="license-paragraph">
        <span class="license-item">8.</span> Текстовые и графические материалы, документы, изображения, схемы, аудио-, видео- и любая другая информация
        размещенная на сайте не является справочной и предоставляется исключительно в научно-образовательных целях.
      </p>
      <p class="license-paragraph">
        <span class="license-item">9.</span> Все исключительные права на видеоматериал, размещенный на сайте (в том числе конспект к нему), принадлежат
        ООО «Знайка», если иное не указано в описании или титрах к видеоматериалу.
      </p>
      <p class="license-paragraph">
        <span class="license-item">10.</span> Пользователь вправе публиковать на сайте только те комментарии (включая изображение профиля, текст комментария
        и прикладываемые фотографии), которые не нарушают действующее законодательство и/или права третьих лиц.
        В случае если такое произведение является объектом авторского права или включает его, Пользователь
        гарантирует, что имеет право на такое использование. Публикуя указанные объекты Пользователь предоставляет
        Администрации право использовать их без ограничения по территории и сроку путем воспроизведения,
        распространения, перевода, публичного исполнения, публичного показа, сообщения в эфир и по кабелю, доведения
        до всеобщего сведения.
      </p>
      <p class="license-paragraph">
        <span class="license-item">11.</span> Администрация сайта приветствует гипертекстовые ссылки на сайт.
      </p>
      <p class="license-paragraph">
        <span class="license-item">12.</span> Предоставление Пользователю платных Сервисов, а именно специальных дополнительных возможностей сайта,
        предоставляемых Администрацией по запросу Пользователя на возмездной основе, регулируется отдельными
        Соглашениями. Платные сервисы предоставляются по желанию Пользователя и не являются необходимым условием
        участия Пользователя на сайте.
      </p>
      <p class="license-paragraph">
        <span class="license-item">13.</span> Администрация ни при каких обстоятельствах не несет ответственности за нарушение интеллектуальных прав третьих
        лиц, если такое нарушение было вызвано созданием, загрузкой, размещением, копированием или изменением
        информации, материалов или изображений на сайте, выполненных Пользователями.
      </p>
      <p class="license-paragraph">
        <span class="license-item">14.</span> Администрация оставляет за собой право блокировать любую информацию, размещенную Пользователем, нарушающую
        интеллектуальные и/или исключительные права третьих лиц, в том числе авторские и смежные с ними права, по
        требованию правообладателя либо без такового.
      </p>

      <h4 class="license-chapter-name">Пользователю запрещается:</h4>

      <p class="license-paragraph">
        <span class="license-item">15.</span> Без письменного разрешения администрации сайта запрещается любое изменение, копирование, распространение,
        републикация, создание производных произведений, пересылка, продажа, лицензирование материалов сайта, за
        исключением трансляции материалов сайта исключительно в учебных учреждениях путём показа (трансляции)
        видеоуроков или их частей напрямую с сайта.
      </p>
      <p class="license-paragraph">
        <span class="license-item">16.</span> При использовании Сайта запрещена загрузка, передача между Пользователями, изменение или размещение
        информации, данных или изображений, которые нарушают исключительные права третьих лиц, в частности авторские и
        смежные с ними права, а также исключительные права на изобретение, полезную модель, промышленный образец или
        товарный знак.
      </p>
      <p class="license-paragraph">
        <span class="license-item">17.</span> Запрещено использовать материалы и сервисы сайта для любых целей, которые противоречат нормам морали и
        нравственности, целям создания данного сайта, и/или нарушают (могут нарушить) запреты, предусмотренные
        настоящим Соглашением, и/или нарушают (могут нарушить) действующее законодательство РФ об авторских правах.
      </p>
      <p class="license-paragraph">
        <span class="license-item">18.</span> Запрещено использовать услуги сайта любым способом, служащим для целей нанесения ущерба нормальному
        функционированию сайта (включая флудинг, DOS-атаки, ограничение доступа к сайту третьих лиц, но не
        ограничиваясь ими).
      </p>
      <p class="license-paragraph">
        <span class="license-item">19.</span> Запрещено предпринимать попытки завладения чужими учетными записями (аккаунтами) на сайте любыми способами
        (включая взлом пароля перебором, хакерство, фишинг, социальную инженерию, но не ограничиваясь ими).
      </p>
      <p class="license-paragraph">
        <span class="license-item">20.</span> Запрещено использование в сообщениях на сайте и в данных при регистрации (логин, имя) ненормативной лексики,
        а также любых выражений, оскорбляющих личность собеседника или третьего лица (в том числе криптованный мат -
        латиницей, с использованием звёздочек, математических и иных символов).
      </p>
      <p class="license-paragraph">
        <span class="license-item">21.</span> Запрещены загрузка, размещение, передача с помощью программных средств сайта, и/или любого другого способа
        публикации текстов, программ, изображений или материалов пропагандирующих террористическую деятельность, или
        разжигающих межнациональную, расовую или религиозную рознь, а также отображающих или пропагандирующих насилие
        или смерть, содержащих описание или изображение причинения вреда несовершеннолетним лицам в любой форме,
        включая любые формы порнографии.
      </p>
      <p class="license-paragraph">
        <span class="license-item">22.</span> Запрещены загрузка, размещение, передача с помощью программных средств сайта, любого другого способа
        публикации текстов, программ, изображений или материалов содержащих непристойные материалы и информацию, в
        любой форме побуждающей к незаконным действиям, включая азартные игры, нелегальную продажу оружия или
        наркотиков.
      </p>
      <p class="license-paragraph">
        <span class="license-item">23.</span> Запрещено загружать, хранить, использовать или передавать любую рекламную информацию, описание мошеннических
        схем, схем сетевого маркетинга (MLM), систем заработка в сети Интернет и так далее.
      </p>
      <p class="license-paragraph">
        <span class="license-item">24.</span> Запрещено выдавать себя за другого человека или представителя организации и/или сообщества, а также вводить
        других Пользователей в заблуждение.
      </p>
      <p class="license-paragraph">
        <span class="license-item">25.</span> Запрещено собирать и хранить данные других Пользователей вне сайта в ручном или автоматизированном режиме.
      </p>
      <p class="license-paragraph">
        <span class="license-item">26.</span> Запрещено любым способом препятствовать работе сайта, в том числе создание, распространение или использование
        компьютерных программ либо иной компьютерной информации, предназначенных для несанкционированного уничтожения,
        блокирования, модификации, копирования компьютерной информации или нейтрализации средств защиты компьютерной
        информации, а также предназначенные для нарушения, уничтожения либо ограничения функциональности любого
        компьютерного или телекоммуникационного оборудования или программ (компьютерные вирусы), для осуществления
        несанкционированного доступа, а также серийные номера к коммерческим программным продуктам и программы для их
        генерации, логины, пароли и прочие средства для получения несанкционированного доступа к платным Сервисам
        сайта, а также размещения ссылок на вышеуказанную информацию.
      </p>
      <p class="license-paragraph">
        <span class="license-item">27.</span> Используя сайт, Пользователь обязуется не нарушать информационную безопасность, а именно обязуется не
        совершать следующих действий:
      </p>
      <p class="license-paragraph">
        <span class="license-item">•</span> не осуществлять попытки проверить уязвимость системы безопасности сайта, нарушать процедуры регистрации и
        авторизации сайта;
      </p>
      <p class="license-paragraph">
        <span class="license-item">•</span> не осуществлять попытки создания помех в использовании сайта другими пользователями, что включает в себя
        распространение компьютерных вирусов, порчу данных, постоянную рассылку повторяющейся информации,
        одновременную отправку большого количества электронной почты и/или запросов к сайту с целью намеренно
        вывести сервер сайта из строя и тому подобные действия, выходящие за рамки нормального целевого
        использования сайта, и способные умышленно или по неосторожности повлечь сбои в его работе;
      </p>
      <p class="license-paragraph">
        <span class="license-item">•</span> не рассылать пользователям сайта материалов, на которые они не давали своего согласия, «спама», любых писем
        и рекламы без разрешения Администрации;
      </p>
      <p class="license-paragraph">
        <span class="license-item">•</span> не осуществлять имитацию и/или подделку любого заголовка пакета TCP/IP или любой части заголовка в любом
        электронном письме или размещенном на сайте материале;
      </p>
      <p class="license-paragraph">
        <span class="license-item">•</span> не использовать или не пытаться использовать любое программное обеспечение, или процедуры для навигации или
        поиску по сайту, кроме встроенной в сайт поисковой машины и традиционных и общедоступных браузеров
        (Microsoft Internet Explorer, Mozilla Firefox, Opera, Google Chrome и других подобных).
      </p>

      <h4 class="license-chapter-name">Модерация:</h4>

      <p class="license-paragraph">
        <span class="license-item">28.</span> Администрация сохраняет за собой право проводить модерацию всех материалов, размещённых Пользователями на
        сайте, то есть следить за содержанием и качеством этих материалов и, в случае необходимости, по собственному
        усмотрению, без предупреждения и объяснения причин удалять или перемещать их. Администрация не принимает на
        себя ответственности ни за какие последствия действий, совершённых в рамках процедуры модерации.
      </p>
      <p class="license-paragraph">
        <span class="license-item">29.</span> Пользователь соглашается с правом Администрации ограничивать или блокировать доступ к сайту или принимать иные
        меры в отношении Пользователя, нарушившего условия Соглашения, либо нормы действующего законодательства, либо
        охраняемые законом права третьих лиц в случае поступления от них мотивированной жалобы. Характер этих мер,
        включая длительность и уровень ограничения доступа, определяются при этом Администрацией по собственному
        усмотрению и могут быть применены без предварительного или последующего уведомления Пользователя и объяснения
        причин.
      </p>
      <p class="license-paragraph">
        <span class="license-item">30.</span> В случае нарушения условий Соглашения Администрация имеет право предпринимать меры, необходимые для защиты
        этих условий и своих интересов вне зависимости от срока давности этих нарушений. Таким образом, бездействие со
        стороны Администрации при нарушении Пользователями условий Соглашения не лишает Администрацию права
        предпринять необходимые для защиты своих интересов действия позднее и не говорит об отказе Администрации от
        своих прав при совершении подобных нарушений в будущем.
      </p>
      <p class="license-paragraph">
        <span class="license-item">31.</span> Право Администрации на модерацию не является обязанностью контролировать все материалы, размещаемые
        Пользователями. Модерация осуществляется в объёмах, устанавливаемых Администрацией.
      </p>
      <p class="license-paragraph">
        <span class="license-item">32.</span> В зависимости от характера материалов или специфики отдельных Сервисов Сайта, Администрация может вводить
        специальные условия для регистрации и доступа к таким материалам и Сервисам, в том числе ограничения по
        возрасту.
      </p>

      <h4 class="license-chapter-name">Заключительные положения:</h4>

      <p class="license-paragraph">
        <span class="license-item">33.</span> Пользуясь Сайтом, Пользователь подтверждает своё безоговорочное согласие со всеми положениями Соглашения, а
        также своё соответствие всем условиям, отражённым в формах регистрации и необходимым для успешной регистрации.
      </p>
      <p class="license-paragraph">
        <span class="license-item">34.</span> Споры между Администрацией и Пользователями разрешаются путем переговоров, а в случае невозможности такого
        урегулирования в судебном порядке по месту нахождения Администрации в соответствии с законодательством
        Российской Федерации.
      </p>
      <p class="license-paragraph">
        <span class="license-item">35.</span> Отношения сторон по настоящему Соглашению регулируются законодательством Российской Федерации.
      </p>
    </div>
  </div>
  </div>
  {% include "ZnaikaFrontendBundle:Default:up_down_scroll_block.html.twig" %}
{% endblock %}