<div class="col-lg-4 col-xs-12">
  <h2>Рейтинг баллов:</h2>
  {% if users %}
    {% for user in users %}
      <div class="col-xs-12">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <h4>{{ user.points }}</h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
          {{ user }}
        </div>
      </div>
      <div class="clear"></div>
    {% endfor %}
  {% else %}
    <h5>Не найдено</h5>
  {% endif %}
</div>