<div id="unregisteredUserLikePopup" class="popup mfp-hide additional-form-container unregistered-user-like-popup">
  <div class="popup-content">
    <div class="additional-form-header">
      <h2>Вход на Знайка.ру</h2>
    </div>
    <div class="additional-form-header-horizontal-bar"></div>
    <h5>Чтобы оценить видеоурок или комментарий, необходимо войти на сайт Знайка.ру</h5>
    <div class="additional-form-button-container">
      <a id="registerForLikeButton" class="semi-active-button" href="javascript:void(0);">
        <span class="semi-active-button-label">Регистрация</span>
      </a>
      <a id="loginForLikeButton" class="active-button" href="javascript:void(0);">
        <span class="active-button-label">Вход</span>
      </a>
    </div>
    <div class="clear"></div>
  </div>
</div>