<div id="unregisteredUserLikePopup" class="popup mfp-hide">
  <div class="popup-content">
    <h2>Вход на Знайка.ру</h2>
    <p>Чтобы оценить видеоурок или комментарий, необходимо войти на сайт Знайка.ру</p>
    <a id="loginForLikeButton" class="semi-active-button login1-button" href="javascript:void(0);">
      <span class="semi-active-button-label">Вход</span>
    </a>
    <a id="registerForLikeButton" class="semi-active-button registration1-button" href="javascript:void(0);">
      <span class="semi-active-button-label">Регистрация</span>
    </a>
    <div class="clear"></div>
  </div>
</div>