<div class="filters-block">
  <h5>Расширенный поиск</h5>
  <select class="form-control filter"></select>
  <select class="form-control filter"></select>
  <div class="advertisement"></div>
</div>