<div class="filters-block">
  <h5>Расширенный поиск</h5>
  {{ search_subject_filter()|raw }}
  {{ search_grade_filter()|raw }}
  {#<div class="advertisement">
    Место для рекламы
  </div>#}
  <div class="clear"></div>
</div>