<div class="filters-block">
  <h5>Расширенный поиск</h5>
  <select class="form-control filter">
    <option>Класс</option>
    <option>Класс1</option>
  </select>
  <select class="form-control filter">
    <option>Предмет</option>
    <option>Предмет1</option>
  </select>

  <div class="advertisement"></div>
</div>