<select id="gradeSelect" class="search-filter-select">
  <option value="" />Класс</option>
  {% for grade in grades %}
    <option value="{{ grade }}" {% if currentGrade and currentGrade == grade  %}selected="selected"{% endif %}/>{{ grade }} класс</option>
  {% endfor %}
</select>