<div class="btn-group filter grade-select">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="filter-label">{% if currentGrade %}{{ currentGrade }} класс{% else %}Класс{% endif %}</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><input type="hidden" value="" /><a href="javascript:void(0);">Любой</a></li>
    {% for grade in grades %}
      <li><input type="hidden" value="{{ grade }}" /><a href="javascript:void(0);">{{ grade }} класс</a></li>
    {% endfor %}
  </ul>
</div>