{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets filter='cssrewrite' '@ZnaikaFrontendBundle/Resources/public/css/search.css' %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts
  '../app/Resources/public/js/classes/util/EventDispatcher.class.js'
  '../app/Resources/public/js/classes/page/VideoCatalogFilters.class.js'
  '../app/Resources/public/js/classes/page/VideoCatalogPage.class.js'
  %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
  <div>
    {% include "ZnaikaFrontendBundle:Search:search_video_list.html.twig" with {'videos': videos} %}
  </div>
  <div>
    {% include "ZnaikaFrontendBundle:Search:search_user_list.html.twig" with {'users': users} %}
  </div>
{% endblock %}
