{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets filter='cssrewrite' '@ZnaikaFrontendBundle/Resources/public/css/search.css' %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block content %}
  <div>
    <h2>Видео:</h2>
    {% if countVideos %}
      <p>Найдено {{ countVideos }} видео</p>
    {% else %}
      <h5>Не найдено</h5>
    {% endif %}
    {% include "ZnaikaFrontendBundle:Search:search_video_list.html.twig" with {'videos': videos} %}
    <div class="clear"></div>
    {% if countVideos %}
      <a href="{{ path('search_video', {'searchString': searchString}) }}" title="">Перейти ко всем найденным видеоурокам</a>
    {% endif %}
  </div>
  <div class="clear"></div>
  <div>
    <h2>Конспекты:</h2>
    {% include "ZnaikaFrontendBundle:Search:search_synopsises_list.html.twig" with {'synopsises': synopsises} %}
  </div>
  <div class="clear"></div>
  <div>
    <h2>Пользователи:</h2>
    {% include "ZnaikaFrontendBundle:Search:search_user_list.html.twig" with {'users': users} %}
  </div>
  <div class="clear"></div>
{% endblock %}
