<select id="subjectSelect" class="search-filter-select">
  <option value="" />Предмет</option>
  {% for subject in subjects %}
    <option value="{{ subject.urlName }}" {% if currentSubject and currentSubject == subject  %}selected="selected"{% endif %}/>{{ subject.name }}</option>
  {% endfor %}
</select>
