{% extends 'ZnaikaFrontendBundle::layout.html.twig' %}

{% block content %}
  <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
    <h3>Тест</h3>
    <ul class="media-list">
      {% for quizQuestion in quizQuestions %}
        <li class="media">
          <h4>{{ quizQuestion.getText }}</h4>
          {% include "ZnaikaFrontendBundle:Video:quiz_answers.html.twig" with {'quizQuestion': quizQuestion} %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
